@charset "UTF-8";
/*
_reset.scss
*******************************************************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend,
p, blockquote, table, th, td {
  margin: 0;
  padding: 0;
}

html, body {
  background: #FFF;
  color: #000;
}

body {
  font: 12px/1 "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
}

* html body {
  font-size: small;
}

*:first-child + html body {
  font-size: small;
}

img {
  border: 0;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-size: 100%;
  font-weight: normal;
}

ul, dl, ol {
  text-indent: 0;
}

li {
  list-style: none;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

* html input, * html textarea, * html select {
  font-size: 100%;
}

*:first-child + html + input, *:first-child html + textarea, *:first-child + html select {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
}

th, td {
  text-align: left;
  vertical-align: top;
}

caption {
  text-align: left;
}

pre, code, kbd, samp, tt {
  font-family: monospace;
}

* html pre, * html code, * html kbd, * html samp, * html tt {
  font-size: 100%;
  line-height: 100%;
}

*:first-child + html pre, *:first-child html + code, *:first-child html + kbd, *:first-child + html + samp, *:first-child + html tt {
  font-size: 108%;
  line-height: 100%;
}

input, select, textarea {
  font-size: 100%;
  font-family: Verdana, Helvetica, sans-serif;
}

/*
_base.scss
*******************************************************************************************************************/
/* -----------------------------------------------
common css 共通クラス
--------------------------------------------------
0. Foundation
0-1. Base
0-2-1. font family
0-2-2. color management
0-2-3. lightbox
1. Layout
1-1.  .l-wrapper
1-2.  .l-container
2. Object
2-1. Component
2-1-1.  Wrap      [***Wrap]
2-1-4.  Title     [ttl-***]
2-1-5.  Headings  [hdg-***]
2-1-6.  Paragraph [prg-***]
2-1-9.  Button    [btn-***]
2-1-10. Link      [lnk-***]
2-1-15. Card      [crd-***]
2-3. OverLayerConfig [z-index]
-------------------------------------------------- */
/*====================================================================================
[0. Foundation]
====================================================================================*/
/* -----------------------------------------------
/* 0-1. Base
-------------------------------------------------- */
body {
  background-color: #fff;
  color: #111111;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.8;
  width: 100%;
  font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body.is-fix {
  position: fixed;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  body {
    font-size: 1.4rem;
  }
}
@media (min-width: 1025px) {
  body.is-fix {
    position: static;
  }
}
body *,
body *::before,
body *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  word-break: break-all;
  background-color: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

a:link {
  text-decoration: none;
  color: #111111;
}

a:visited {
  text-decoration: none;
  color: #111111;
}

a:hover, a:active {
  outline-width: 0;
  text-decoration: none;
  color: #111111;
}

a:focus {
  outline-width: 0;
  text-decoration: none;
}

li img, li a, li a img {
  vertical-align: bottom;
}

/* 0-2-1.  font family
-------------------------------------------------- */
@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansJP-Regular.woff2) format("woff2"), url(../fonts/NotoSansJP-Regular.woff) format("woff"), url(../fonts/NotoSansJP-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansJP-Medium.woff2) format("woff2"), url(../fonts/NotoSansJP-Medium.woff) format("woff"), url(../fonts/NotoSansJP-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansJP-Bold.woff2) format("woff2"), url(../fonts/NotoSansJP-Bold.woff) format("woff"), url(../fonts/NotoSansJP-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/NotoSansJP-Black.woff2) format("woff2"), url(../fonts/NotoSansJP-Black.woff) format("woff"), url(../fonts/NotoSansJP-Black.otf) format("opentype");
}
/* 見出しのみ書体変更 */
.u-ff-oswald, .ttl-2Lang > *::before, .ttl-2Lang__side [class*=hdg-]::before, .ttl-2Lang__after [class*=hdg-]::after {
  font-family: "Oswald", sans-serif;
}

/* 0-2-2.  color management
-------------------------------------------------- */
/* base-color */
/* サイトによって変更する */
.color-b1 {
  color: #111111;
}

.color-b2 {
  color: #444444;
}

.color-b3 {
  color: #666666;
}

.color-g1 {
  color: #bdbdbd;
}

/* thema-color */
.color-t1 {
  color: #ff550a;
}

.color-t1_2 {
  color: #fd6301;
}

.color-t1_3 {
  color: #ff9c3b;
}

/* 0-2-3.  lightbox
-------------------------------------------------- */
/* fontAwesomeの使い方 */
a[data-lightbox=lb] {
  position: relative;
  text-decoration: none !important;
  pointer-events: none;
}

a[data-lightbox=lb]::after {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "fontAwesome";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-rendering: auto;
  line-height: 1;
  content: "";
  color: #fff;
  text-decoration: none !important;
}

@media (min-width: 768px) {
  a[data-lightbox=lb] {
    pointer-events: auto;
  }
  
  a[data-lightbox=lb]::after {
    display: inline-block;
  }
}
/*
_utillity.scss
*******************************************************************************************************************/
/*!
* display(○)
*/
.u-d-n {
  display: none !important;
}

.u-d-b {
  display: block !important;
}

.u-d-f {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.u-d-if {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.u-d-i {
  display: inline !important;
}

.u-d-ib {
  display: inline-block !important;
}

.u-d-li {
  display: list-item !important;
}

.u-d-ri {
  display: run-in !important;
}

.u-d-cp {
  display: compact !important;
}

.u-d-tb {
  display: table !important;
}

.u-d-itb {
  display: inline-table !important;
}

.u-d-tbcp {
  display: table-caption !important;
}

.u-d-tbcl {
  display: table-column !important;
}

.u-d-tbclg {
  display: table-column-group !important;
}

.u-d-tbhg {
  display: table-header-group !important;
}

.u-d-tbfg {
  display: table-footer-group !important;
}

.u-d-tbr {
  display: table-row !important;
}

.u-d-tbrg {
  display: table-row-group !important;
}

.u-d-tbc {
  display: table-cell !important;
}

.u-d-rb {
  display: ruby !important;
}

.u-d-rbb {
  display: ruby-base !important;
}

.u-d-rbbg {
  display: ruby-base-group !important;
}

.u-d-rbt {
  display: ruby-text !important;
}

.u-d-rbtg {
  display: ruby-text-group !important;
}

/*!

* flex(○)
*/
.fxd-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.fxd-rr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.fxd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fxd-cr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.jc-fs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.jc-fe {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.jc-c {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.jc-sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.jc-sa {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.ac-fs {
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.ac-fe {
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.ac-c {
  -ms-flex-line-pack: center;
  align-content: center;
}

.ac-sb {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.ac-sa {
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.ac-s {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.ai-fs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.ai-fe {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.ai-s {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.ai-c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ai-b {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

/*!

* position(○)
*/
.u-pos-st {
  position: static;
}

.u-pos-rl {
  position: relative;
}

.u-pos-ab {
  position: absolute;
}

.u-pos-fx {
  position: fixed;
}

.u-pos-si {
  position: -webkit-sticky;
  position: sticky;
}

.u-pos-ih {
  position: inherit;
}

.u-pos-in {
  position: initial;
}

.u-pos-un {
  position: unset;
}

/*!

* opacity(○)
*/
.u-op100 {
  opacity: 1 !important;
}

.u-op00 {
  opacity: 1;
}

.u-op00:active,
.u-op00:hover {
  opacity: 0;
}

.u-op01 {
  opacity: 1;
}

.u-op01:active,
.u-op01:hover {
  opacity: 0.1;
}

.u-op02 {
  opacity: 1;
}

.u-op02:active,
.u-op02:hover {
  opacity: 0.2;
}

.u-op03 {
  opacity: 1;
}

.u-op03:active,
.u-op03:hover {
  opacity: 0.3;
}

.u-op04 {
  opacity: 1;
}

.u-op04:active,
.u-op04:hover {
  opacity: 0.4;
}

.u-op05 {
  opacity: 1;
}

.u-op05:active,
.u-op05:hover {
  opacity: 0.5;
}

.u-op06 {
  opacity: 1;
}

.u-op06:active,
.u-op06:hover {
  opacity: 0.6;
}

.u-op07 {
  opacity: 1;
}

.u-op07:active,
.u-op07:hover {
  opacity: 0.7;
}

.u-op08 {
  opacity: 1;
}

.u-op08:active,
.u-op08:hover {
  opacity: 0.8;
}

.u-op09 {
  opacity: 1;
}

.u-op09:active,
.u-op09:hover {
  opacity: 0.9;
}

/*!

* margin(○)
*/
.u-mt0 {
  margin-top: 0 !important;
}

.u-mr0 {
  margin-right: 0 !important;
}

.u-mb0 {
  margin-bottom: 0 !important;
}

.u-ml0 {
  margin-left: 0 !important;
}

.u-mt5 {
  margin-top: 5px !important;
}

.u-mr5 {
  margin-right: 5px !important;
}

.u-mb5 {
  margin-bottom: 5px !important;
}

.u-ml5 {
  margin-left: 5px !important;
}

.u-mt10 {
  margin-top: 10px !important;
}

.u-mr10 {
  margin-right: 10px !important;
}

.u-mb10 {
  margin-bottom: 10px !important;
}

.u-ml10 {
  margin-left: 10px !important;
}

.u-mt15 {
  margin-top: 15px !important;
}

.u-mr15 {
  margin-right: 15px !important;
}

.u-mb15 {
  margin-bottom: 15px !important;
}

.u-ml15 {
  margin-left: 15px !important;
}

.u-mt20 {
  margin-top: 20px !important;
}

.u-mr20 {
  margin-right: 20px !important;
}

.u-mb20 {
  margin-bottom: 20px !important;
}

.u-ml20 {
  margin-left: 20px !important;
}

.u-mt25 {
  margin-top: 25px !important;
}

.u-mr25 {
  margin-right: 25px !important;
}

.u-mb25 {
  margin-bottom: 25px !important;
}

.u-ml25 {
  margin-left: 25px !important;
}

.u-mt30 {
  margin-top: 30px !important;
}

.u-mr30 {
  margin-right: 30px !important;
}

.u-mb30 {
  margin-bottom: 30px !important;
}

.u-ml30 {
  margin-left: 30px !important;
}

.u-mt35 {
  margin-top: 35px !important;
}

.u-mr35 {
  margin-right: 35px !important;
}

.u-mb35 {
  margin-bottom: 35px !important;
}

.u-ml35 {
  margin-left: 35px !important;
}

.u-mt40 {
  margin-top: 40px !important;
}

.u-mr40 {
  margin-right: 40px !important;
}

.u-mb40 {
  margin-bottom: 40px !important;
}

.u-ml40 {
  margin-left: 40px !important;
}

.u-mt45 {
  margin-top: 45px !important;
}

.u-mr45 {
  margin-right: 45px !important;
}

.u-mb45 {
  margin-bottom: 45px !important;
}

.u-ml45 {
  margin-left: 45px !important;
}

.u-mt50 {
  margin-top: 50px !important;
}

.u-mr50 {
  margin-right: 50px !important;
}

.u-mb50 {
  margin-bottom: 50px !important;
}

.u-ml50 {
  margin-left: 50px !important;
}

.u-mt55 {
  margin-top: 55px !important;
}

.u-mr55 {
  margin-right: 55px !important;
}

.u-mb55 {
  margin-bottom: 55px !important;
}

.u-ml55 {
  margin-left: 55px !important;
}

.u-mt60 {
  margin-top: 60px !important;
}

.u-mr60 {
  margin-right: 60px !important;
}

.u-mb60 {
  margin-bottom: 60px !important;
}

.u-ml60 {
  margin-left: 60px !important;
}

/*!
* padding(○)
*/
.u-pt0 {
  padding-top: 0 !important;
}

.u-pr0 {
  padding-right: 0 !important;
}

.u-pb0 {
  padding-bottom: 0 !important;
}

.u-pl0 {
  padding-left: 0 !important;
}

.u-pv0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.u-ph0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.u-pa0 {
  padding: 0 !important;
}

.u-pt5 {
  padding-top: 5px !important;
}

.u-pr5 {
  padding-right: 5px !important;
}

.u-pb5 {
  padding-bottom: 5px !important;
}

.u-pl5 {
  padding-left: 5px !important;
}

.u-pv5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.u-ph5 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.u-pa5 {
  padding: 5px !important;
}

.u-pt10 {
  padding-top: 10px !important;
}

.u-pr10 {
  padding-right: 10px !important;
}

.u-pb10 {
  padding-bottom: 10px !important;
}

.u-pl10 {
  padding-left: 10px !important;
}

.u-pv10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.u-ph10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.u-pa10 {
  padding: 10px !important;
}

.u-pt15 {
  padding-top: 15px !important;
}

.u-pr15 {
  padding-right: 15px !important;
}

.u-pb15 {
  padding-bottom: 15px !important;
}

.u-pl15 {
  padding-left: 15px !important;
}

.u-pv15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.u-ph15 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.u-pa15 {
  padding: 15px !important;
}

.u-pt20 {
  padding-top: 20px !important;
}

.u-pr20 {
  padding-right: 20px !important;
}

.u-pb20 {
  padding-bottom: 20px !important;
}

.u-pl20 {
  padding-left: 20px !important;
}

.u-pv20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.u-ph20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.u-pa20 {
  padding: 20px !important;
}

.u-pt25 {
  padding-top: 25px !important;
}

.u-pr25 {
  padding-right: 25px !important;
}

.u-pb25 {
  padding-bottom: 25px !important;
}

.u-pl25 {
  padding-left: 25px !important;
}

.u-pv25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.u-ph25 {
  padding-right: 25px !important;
  padding-left: 25px !important;
}

.u-pa25 {
  padding: 25px !important;
}

.u-pt30 {
  padding-top: 30px !important;
}

.u-pr30 {
  padding-right: 30px !important;
}

.u-pb30 {
  padding-bottom: 30px !important;
}

.u-pl30 {
  padding-left: 30px !important;
}

.u-pv30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.u-ph30 {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.u-pa30 {
  padding: 30px !important;
}

.u-pt35 {
  padding-top: 35px !important;
}

.u-pr35 {
  padding-right: 35px !important;
}

.u-pb35 {
  padding-bottom: 35px !important;
}

.u-pl35 {
  padding-left: 35px !important;
}

.u-pv35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.u-ph35 {
  padding-right: 35px !important;
  padding-left: 35px !important;
}

.u-pa35 {
  padding: 35px !important;
}

.u-pt40 {
  padding-top: 40px !important;
}

.u-pr40 {
  padding-right: 40px !important;
}

.u-pb40 {
  padding-bottom: 40px !important;
}

.u-pl40 {
  padding-left: 40px !important;
}

.u-pv40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.u-ph40 {
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.u-pa40 {
  padding: 40px !important;
}

.u-pt45 {
  padding-top: 45px !important;
}

.u-pr45 {
  padding-right: 45px !important;
}

.u-pb45 {
  padding-bottom: 45px !important;
}

.u-pl45 {
  padding-left: 45px !important;
}

.u-pv45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.u-ph45 {
  padding-right: 45px !important;
  padding-left: 45px !important;
}

.u-pa45 {
  padding: 45px !important;
}

.u-pt50 {
  padding-top: 50px !important;
}

.u-pr50 {
  padding-right: 50px !important;
}

.u-pb50 {
  padding-bottom: 50px !important;
}

.u-pl50 {
  padding-left: 50px !important;
}

.u-pv50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.u-ph50 {
  padding-right: 50px !important;
  padding-left: 50px !important;
}

.u-pa50 {
  padding: 50px !important;
}

.u-pt55 {
  padding-top: 55px !important;
}

.u-pr55 {
  padding-right: 55px !important;
}

.u-pb55 {
  padding-bottom: 55px !important;
}

.u-pl55 {
  padding-left: 55px !important;
}

.u-pv55 {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}

.u-ph55 {
  padding-right: 55px !important;
  padding-left: 55px !important;
}

.u-pa55 {
  padding: 55px !important;
}

.u-pt60 {
  padding-top: 60px !important;
}

.u-pr60 {
  padding-right: 60px !important;
}

.u-pb60 {
  padding-bottom: 60px !important;
}

.u-pl60 {
  padding-left: 60px !important;
}

.u-pv60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.u-ph60 {
  padding-right: 60px !important;
  padding-left: 60px !important;
}

.u-pa60 {
  padding: 60px !important;
}

/*!

* color(○)
*/
.u-fc-white {
  color: #fff !important;
}

.u-fc-red {
  color: red !important;
}

.u-fc-cred {
  color: #c00 !important;
}

.u-fc-dred {
  color: #d00 !important;
}

.u-fc-9red {
  color: #900 !important;
}

.u-fc-black {
  color: #111 !important;
}

.u-fc-dark {
  color: #666 !important;
}

.u-fc-gray {
  color: #999 !important;
}

.u-fc-blue {
  color: #006 !important;
}

/*!

* font-size(○)
*/
.u-fs8 {
  font-size: 0.8rem !important;
}

.u-fs9 {
  font-size: 0.9rem !important;
}

.u-fs10 {
  font-size: 1rem !important;
}

.u-fs11 {
  font-size: 1.1rem !important;
}

.u-fs12 {
  font-size: 1.2rem !important;
}

.u-fs13 {
  font-size: 1.3rem !important;
}

.u-fs14 {
  font-size: 1.4rem !important;
}

.u-fs15 {
  font-size: 1.5rem !important;
}

.u-fs16 {
  font-size: 1.6rem !important;
}

.u-fs17 {
  font-size: 1.7rem !important;
}

.u-fs18 {
  font-size: 1.8rem !important;
}

.u-fs19 {
  font-size: 1.9rem !important;
}

.u-fs20 {
  font-size: 2rem !important;
}

.u-fs21 {
  font-size: 2.1rem !important;
}

.u-fs22 {
  font-size: 2.2rem !important;
}

.u-fs23 {
  font-size: 2.3rem !important;
}

.u-fs24 {
  font-size: 2.4rem !important;
}

.u-fs25 {
  font-size: 2.5rem !important;
}

.u-fs26 {
  font-size: 2.6rem !important;
}

.u-fs27 {
  font-size: 2.7rem !important;
}

.u-fs28 {
  font-size: 2.8rem !important;
}

.u-fs29 {
  font-size: 2.9rem !important;
}

.u-fs30 {
  font-size: 3rem !important;
}

.u-fs31 {
  font-size: 3.1rem !important;
}

.u-fs32 {
  font-size: 3.2rem !important;
}

.u-fs33 {
  font-size: 3.3rem !important;
}

.u-fs34 {
  font-size: 3.4rem !important;
}

.u-fs35 {
  font-size: 3.5rem !important;
}

.u-fs36 {
  font-size: 3.6rem !important;
}

.u-fs37 {
  font-size: 3.7rem !important;
}

.u-fs38 {
  font-size: 3.8rem !important;
}

.u-fs39 {
  font-size: 3.9rem !important;
}

.u-fs40 {
  font-size: 4rem !important;
}

.u-fs41 {
  font-size: 4.1rem !important;
}

.u-fs42 {
  font-size: 4.2rem !important;
}

.u-fs43 {
  font-size: 4.3rem !important;
}

.u-fs44 {
  font-size: 4.4rem !important;
}

.u-fs45 {
  font-size: 4.5rem !important;
}

.u-fs46 {
  font-size: 4.6rem !important;
}

.u-fs47 {
  font-size: 4.7rem !important;
}

.u-fs48 {
  font-size: 4.8rem !important;
}

.u-fsxxs {
  font-size: xx-small;
}

.u-fsxs {
  font-size: x-small;
}

.u-fss {
  font-size: small;
}

.u-fsm {
  font-size: medium;
}

.u-fsl {
  font-size: large;
}

.u-fsxl {
  font-size: x-large;
}

.u-fsxxl {
  font-size: xx-large;
}

.u-tim00 {
  font-size: 0 !important;
}

.u-tim01 {
  font-size: -0.1em !important;
}

.u-tim02 {
  font-size: -0.2em !important;
}

.u-tim03 {
  font-size: -0.3em !important;
}

.u-tim04 {
  font-size: -0.4em !important;
}

.u-tim05 {
  font-size: -0.5em !important;
}

.u-tim06 {
  font-size: -0.6em !important;
}

.u-tim07 {
  font-size: -0.7em !important;
}

.u-tim08 {
  font-size: -0.8em !important;
}

.u-tim09 {
  font-size: -0.9em !important;
}

.u-tim10 {
  font-size: -1em !important;
}

.u-tim11 {
  font-size: -1.1em !important;
}

.u-tim12 {
  font-size: -1.2em !important;
}

.u-tim13 {
  font-size: -1.3em !important;
}

.u-tim14 {
  font-size: -1.4em !important;
}

.u-tim15 {
  font-size: -1.5em !important;
}

.u-tim16 {
  font-size: -1.6em !important;
}

.u-tim17 {
  font-size: -1.7em !important;
}

.u-tim18 {
  font-size: -1.8em !important;
}

.u-tim19 {
  font-size: -1.9em !important;
}

.u-tim20 {
  font-size: -2em !important;
}

/*!
* font-weight(○)
*/
.u-fw-n {
  font-weight: 400 !important;
}

.u-fw-b {
  font-weight: 700 !important;
}

.u-fw-br {
  font-weight: bolder !important;
}

.u-fw-lr {
  font-weight: lighter !important;
}

.u-fw-i {
  font-weight: inherit !important;
}

.u-fw100 {
  font-weight: 100 !important;
}

.u-fw200 {
  font-weight: 200 !important;
}

.u-fw300 {
  font-weight: 300 !important;
}

.u-fw400 {
  font-weight: 400 !important;
}

.u-fw500 {
  font-weight: 500 !important;
}

.u-fw600 {
  font-weight: 600 !important;
}

.u-fw700 {
  font-weight: 700 !important;
}

.u-fw800 {
  font-weight: 800 !important;
}

.u-fw900 {
  font-weight: 900 !important;
}

/*!
* font-style(○)
*/
.u-fs-n {
  font-style: normal !important;
}

.u-fs-o {
  font-style: oblique !important;
}

.u-fs-i {
  font-style: italic !important;
}

/*!

* text-align(○)
*/
.u-ta-l {
  text-align: left !important;
}

.u-ta-c {
  text-align: center !important;
}

.u-ta-r {
  text-align: right !important;
}

.u-ta-j {
  text-align: justify !important;
}

.u-va-sup {
  vertical-align: super !important;
}

.u-va-t {
  vertical-align: top !important;
}

.u-va-tt {
  vertical-align: text-top !important;
}

.u-va-m {
  vertical-align: middle !important;
}

.u-va-bl {
  vertical-align: baseline !important;
}

.u-va-tb {
  vertical-align: text-bottom !important;
}

.u-va-b {
  vertical-align: bottom !important;
}

.u-va-sub {
  vertical-align: sub !important;
}

/*!
*/
@media (min-width: 576px) {
  .ta-sm-l {
    text-align: left !important;
  }
  
  .ta-sm-c {
    text-align: center !important;
  }
  
  .ta-sm-r {
    text-align: right !important;
  }
  
  .ta-sm-j {
    text-align: justify !important;
  }
  
  .va-sm-sup {
    vertical-align: super !important;
  }
  
  .va-sm-t {
    vertical-align: top !important;
  }
  
  .va-sm-tt {
    vertical-align: text-top !important;
  }
  
  .va-sm-m {
    vertical-align: middle !important;
  }
  
  .va-sm-bl {
    vertical-align: baseline !important;
  }
  
  .va-sm-tb {
    vertical-align: text-bottom !important;
  }
  
  .va-sm-b {
    vertical-align: bottom !important;
  }
  
  .va-sm-sub {
    vertical-align: sub !important;
  }
}
/*!
*/
@media (min-width: 768px) {
  .ta-md-l {
    text-align: left !important;
  }
  
  .ta-md-c {
    text-align: center !important;
  }
  
  .ta-md-r {
    text-align: right !important;
  }
  
  .ta-md-j {
    text-align: justify !important;
  }
  
  .va-md-sup {
    vertical-align: super !important;
  }
  
  .va-md-t {
    vertical-align: top !important;
  }
  
  .va-md-tt {
    vertical-align: text-top !important;
  }
  
  .va-md-m {
    vertical-align: middle !important;
  }
  
  .va-md-bl {
    vertical-align: baseline !important;
  }
  
  .va-md-tb {
    vertical-align: text-bottom !important;
  }
  
  .va-md-b {
    vertical-align: bottom !important;
  }
  
  .va-md-sub {
    vertical-align: sub !important;
  }
}
/*!
*/
@media (min-width: 992px) {
  .ta-lg-l {
    text-align: left !important;
  }
  
  .ta-lg-c {
    text-align: center !important;
  }
  
  .ta-lg-r {
    text-align: right !important;
  }
  
  .ta-lg-j {
    text-align: justify !important;
  }
  
  .va-lg-sup {
    vertical-align: super !important;
  }
  
  .va-lg-t {
    vertical-align: top !important;
  }
  
  .va-lg-tt {
    vertical-align: text-top !important;
  }
  
  .va-lg-m {
    vertical-align: middle !important;
  }
  
  .va-lg-bl {
    vertical-align: baseline !important;
  }
  
  .va-lg-tb {
    vertical-align: text-bottom !important;
  }
  
  .va-lg-b {
    vertical-align: bottom !important;
  }
  
  .va-lg-sub {
    vertical-align: sub !important;
  }
}
/*!
*/
@media (min-width: 1200px) {
  .ta-xl-l {
    text-align: left !important;
  }
  
  .ta-xl-c {
    text-align: center !important;
  }
  
  .ta-xl-r {
    text-align: right !important;
  }
  
  .ta-xl-j {
    text-align: justify !important;
  }
  
  .va-xl-sup {
    vertical-align: super !important;
  }
  
  .va-xl-t {
    vertical-align: top !important;
  }
  
  .va-xl-tt {
    vertical-align: text-top !important;
  }
  
  .va-xl-m {
    vertical-align: middle !important;
  }
  
  .va-xl-bl {
    vertical-align: baseline !important;
  }
  
  .va-xl-tb {
    vertical-align: text-bottom !important;
  }
  
  .va-xl-b {
    vertical-align: bottom !important;
  }
  
  .va-xl-sub {
    vertical-align: sub !important;
  }
}
/*!
* line-height(○)
*/
.u-lh10 {
  line-height: 1;
}

.u-lh11 {
  line-height: 1.1;
}

u-lh12 {
  line-height: 1.2;
}

u-lh13 {
  line-height: 1.3;
}

.u-lh14 {
  line-height: 1.4;
}

.u-lh15 {
  line-height: 1.5;
}

.u-lh16 {
  line-height: 1.6;
}

.u-lh17 {
  line-height: 1.7;
}

.u-lh18 {
  line-height: 1.8;
}

.u-lh19 {
  line-height: 1.9;
}

.u-lh20 {
  line-height: 2;
}

.u-lh21 {
  line-height: 2.1;
}

.u-lh22 {
  line-height: 2.2;
}

.u-lh23 {
  line-height: 2.3;
}

.u-lh24 {
  line-height: 2.4;
}

.u-lh25 {
  line-height: 2.5;
}

.u-lh26 {
  line-height: 2.6;
}

.u-lh27 {
  line-height: 2.7;
}

.u-lh28 {
  line-height: 2.8;
}

.u-lh29 {
  line-height: 2.9;
}

.u-lh30 {
  line-height: 3;
}

/*!
* word(×)
*/
.u-wobr-n {
  word-break: normal !important;
}

.u-wobr-k {
  word-break: keep-all !important;
  word-wrap: normal !important;
}

.u-wobr-ba {
  word-break: break-all !important;
  word-wrap: break-word !important;
}

.u-whsp-n {
  white-space: normal !important;
}

.u-whsp-p {
  white-space: pre !important;
}

.u-whsp-nw {
  white-space: nowrap !important;
}

/*!
* text-decoration(○)
*/
.u-txd-n {
  text-decoration: none !important;
}

.u-txd-o {
  text-decoration: overline !important;
}

.u-txd-u {
  text-decoration: underline !important;
}

.u-txd-l {
  text-decoration: line-through !important;
}

.u-txd-b {
  text-decoration: blink !important;
}

/*!

* xxxxx(×)
*/
li a, li a img, li img {
  vertical-align: bottom;
}

.u-list-d {
  padding-left: 1.5em;
}

.u-list-d > * {
  list-style-type: disc;
}

.u-list-c {
  padding-left: 1.5em;
}

.u-list-c > * {
  list-style-type: circle;
}

.u-list-s {
  padding-left: 1.5em;
}

.u-list-s > * {
  list-style-type: square;
}

.u-list-dc {
  padding-left: 1.5em;
}

.u-list-dc > * {
  list-style-type: decimal;
}

.u-list-la {
  padding-left: 1.8em;
}

.u-list-la > * {
  list-style-type: lower-alpha;
}

.u-list-at {
  padding-left: 1em;
}

.u-list-at > * {
  text-indent: -1em;
}

.u-list-x1 {
  padding-left: 1.2em;
}

.u-list-x1 > * {
  text-indent: -1.2em;
}

/*!

* width
*/
.u-w0p {
  width: 0% !important;
}

.u-w5p {
  width: 5% !important;
}

.u-w10p {
  width: 10% !important;
}

.u-w15p {
  width: 15% !important;
}

.u-w20p {
  width: 20% !important;
}

.u-w25p {
  width: 25% !important;
}

.u-w30p {
  width: 30% !important;
}

.u-w35p {
  width: 35% !important;
}

.u-w40p {
  width: 40% !important;
}

.u-w45p {
  width: 45% !important;
}

.u-w50p {
  width: 50% !important;
}

.u-w55p {
  width: 55% !important;
}

.u-w60p {
  width: 60% !important;
}

.u-w65p {
  width: 65% !important;
}

.u-w70p {
  width: 70% !important;
}

.u-w75p {
  width: 75% !important;
}

.u-w80p {
  width: 80% !important;
}

.u-w85p {
  width: 85% !important;
}

.u-w90p {
  width: 90% !important;
}

.u-w95p {
  width: 95% !important;
}

.u-w100p {
  width: 100% !important;
}

.u-mw100p {
  max-width: 100% !important;
}

/*!
* icon(×)
*/
.fc-facebook {
  color: #3b5998 !important;
}

.fc-twitter {
  color: #55acee !important;
}

.fc-instagram {
  color: #231f20 !important;
}

.fc-youtube {
  color: #cd201f !important;
}

.bx-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  background: 0 0;
}

.bx-wrapper .bx-viewport {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.bx-wrapper .bx-loading {
  display: none;
}

.fc-facebook {
  color: #3b5998 !important;
}

.fc-twitter {
  color: #55acee !important;
}

.fc-instagram {
  color: #231f20 !important;
}

.fc-youtube {
  color: #cd201f !important;
}

.bx-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  background: 0 0;
}

.bx-wrapper .bx-viewport {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.bx-wrapper .bx-loading {
  display: none;
}

/*
_layout.scss
*******************************************************************************************************************/
/*====================================================================================
[1. Layout]
====================================================================================*/
/* -----------------------------------------------
/* 1-1.  .l-wrapper
-------------------------------------------------- */
.l-wrapper {
  position: relative;
  overflow: hidden;
}

/* -----------------------------------------------
/* 1-7.  .l-container
-------------------------------------------------- */
.l-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.l-container--fluid {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  position: relative;
}

/*
_components.scss
*******************************************************************************************************************/
/*====================================================================================
[2. Object]
====================================================================================*/
/* -----------------------------------------------
/* 2-1. Component
-------------------------------------------------- */
/* 2-1-1.  Wrap      [***Wrap]
-------------------------------------------------- */
/* ***Wrap 共通で上下に余白設定 */
[class*=Wrap] {
  padding-top: 45px;
  padding-bottom: 45px;
}

@media (min-width: 768px) {
  [class*=Wrap] {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
/* 2-1-6.  Paragraph [prg-***]
-------------------------------------------------- */
[class*=prg-] {
  padding-top: 7.5px;
  line-height: 2;
}

[class*=prg-] p + p {
  margin-top: 7.5px;
}

.prg-xl {
  font-size: 2rem;
  line-height: 1.2;
}

.prg-l {
  font-size: 1.8rem;
  line-height: 1.2;
}

.prg-m {
  font-size: 1.5rem;
  line-height: 1.8;
}

.prg-s {
  font-size: 1.3rem;
  line-height: 1.8;
}

.prg-xs {
  font-size: 1.1rem;
  line-height: 1.5;
}

/* @media (max-width: 767px) {
  [class*="prg-"] .richtext p br {
    display: none;
  }
}

@media (min-width: 768px) {
  [class*="prg-"] {
    padding-top: 15px;
    line-height: 2.0;
  }
  [class*="prg-"] p + p {
    margin-top: 15px;
  }
  .prg-xl {
    font-size: 1.8rem;
    line-height: 1.2;
  }
  .prg-l {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .prg-m {
    font-size: 1.4rem;
    line-height: 1.8;
  }
  .prg-s {
    font-size: 1.3rem;
    line-height: 1.8;
  }
  .prg-xs {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}

@media (min-width: 992px) {
  .prg-xl {
    font-size: 2.4rem;
  }
  .prg-l {
    font-size: 1.8rem;
  }
  .prg-m {
    font-size: 1.6rem;
  }
  .prg-s {
    font-size: 1.4rem;
  }
  .prg-xs {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}

[class*="prg-"] .richtext p a {
  text-decoration: underline;
} */
/* -----------------------------------------------
/* 2-1. Component
-------------------------------------------------- */
/* 2-1-4.  Title     [ttl-***]
-------------------------------------------------- */
.ttl-2Lang {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #666;
}

.ttl-2Lang > * {
  font-weight: 500;
  line-height: 1.1;
}

.ttl-2Lang > *::before {
  content: "";
  display: block;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  color: #ff550a;
}

.ttl-2Lang__side [class*=hdg-] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: 500;
  line-height: 1.1;
}

@media (min-width: 768px) {
  .ttl-2Lang__side [class*=hdg-] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.ttl-2Lang__side [class*=hdg-]::before {
  content: "";
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  color: #ff550a;
}

.ttl-2Lang__after [class*=hdg-] {
  font-weight: 500;
  line-height: 1.1;
}

.ttl-2Lang__after [class*=hdg-]::after {
  content: "";
  display: block;
  font-size: 50%;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #ff550a;
}

.ttl-langSub {
  text-align: center;
}

.ttl-langSub::after {
  display: block;
  font-size: 50%;
  text-transform: uppercase;
  color: #ff550a;
  letter-spacing: 0.25em;
}

.ttl-langSub::before {
  display: block;
  font-size: 50%;
  text-transform: uppercase;
  color: #ff550a;
  letter-spacing: 0.25em;
}

@media (min-width: 768px) {
  .ttl-langSub::after {
    letter-spacing: 1em;
  }
  
  .ttl-langSub::before {
    letter-spacing: 1em;
  }
}
/* 2-1-5.  Headings  [hdg-***]
-------------------------------------------------- */
.hdg-0 {
  font-size: 3.6rem;
}

.hdg-1 {
  font-size: 3.2rem;
}

.hdg-2 {
  font-size: 2.4rem;
}

.hdg-3 {
  font-size: 2rem;
}

.hdg-4 {
  font-size: 1.8rem;
}

.hdg-5 {
  font-size: 1.6rem;
}

.hdg-6 {
  font-size: 1.4rem;
}

.hdg-1w {
  font-size: 1.6rem;
}

.hdg-1w::before {
  font-size: 3.2rem;
}

.hdg-2w {
  font-size: 1.2rem;
}

.hdg-2w::before {
  font-size: 2.4rem;
}

.hdg-3w {
  font-size: 1rem;
}

.hdg-3w::before {
  font-size: 2rem;
}

.hdg-4w {
  font-size: 1.35rem;
}

.hdg-4w::before {
  font-size: 1.8rem;
}

.hdg-5w {
  font-size: 1.2rem;
}

.hdg-5w::before {
  font-size: 1.6rem;
}

.hdg-6w {
  font-size: 1.05rem;
}

.hdg-6w::before {
  font-size: 1.4rem;
}

@media (min-width: 576px) {
  .hdg-0 {
    font-size: 4.8rem;
  }
  
  .hdg-1 {
    font-size: 3.6rem;
  }
  
  .hdg-2 {
    font-size: 3.2rem;
  }
  
  .hdg-3 {
    font-size: 2.4rem;
  }
  
  .hdg-4 {
    font-size: 2rem;
  }
  
  .hdg-5 {
    font-size: 1.8rem;
  }
  
  .hdg-6 {
    font-size: 1.6rem;
  }
  
  .hdg-1w {
    font-size: 1.8rem;
  }
  
  .hdg-1w::before {
    font-size: 3.6rem;
  }
  
  .hdg-2w {
    font-size: 1.6rem;
  }
  
  .hdg-2w::before {
    font-size: 3.2rem;
  }
  
  .hdg-3w {
    font-size: 1.2rem;
  }
  
  .hdg-3w::before {
    font-size: 2.4rem;
  }
  
  .hdg-4w {
    font-size: 1.5rem;
  }
  
  .hdg-4w::before {
    font-size: 2rem;
  }
  
  .hdg-5w {
    font-size: 1.35rem;
  }
  
  .hdg-5w::before {
    font-size: 1.8rem;
  }
  
  .hdg-6w {
    font-size: 1.2rem;
  }
  
  .hdg-6w::before {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  .hdg-0 {
    font-size: 6rem;
  }
  
  .hdg-1 {
    font-size: 4.8rem;
  }
  
  .hdg-2 {
    font-size: 3.6rem;
  }
  
  .hdg-3 {
    font-size: 3.2rem;
  }
  
  .hdg-4 {
    font-size: 2.4rem;
  }
  
  .hdg-5 {
    font-size: 2rem;
  }
  
  .hdg-6 {
    font-size: 1.8rem;
  }
  
  .hdg-1w {
    font-size: 2.4rem;
  }
  
  .hdg-1w::before {
    font-size: 4.8rem;
  }
  
  .hdg-2w {
    font-size: 1.8rem;
  }
  
  .hdg-2w::before {
    font-size: 3.6rem;
  }
  
  .hdg-3w {
    font-size: 1.6rem;
  }
  
  .hdg-3w::before {
    font-size: 3.2rem;
  }
  
  .hdg-4w {
    font-size: 1.2rem;
  }
  
  .hdg-4w::before {
    font-size: 2.4rem;
  }
  
  .hdg-5w {
    font-size: 1rem;
  }
  
  .hdg-5w::before {
    font-size: 2rem;
  }
  
  .hdg-6w {
    font-size: 1.35rem;
  }
  
  .hdg-6w::before {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .hdg-0 {
    font-size: 7.2rem;
  }
}
@media (min-width: 1200px) {
  .hdg-0 {
    font-size: 8rem;
  }
}
@media (min-width: 1400px) {
  .hdg-0 {
    font-size: 9rem;
  }
}
/* 2-1-9.  Button    [btn-***]
-------------------------------------------------- */
/* btnのlayout */
.wrap-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .wrap-btn {
    margin-top: 45px;
  }
}
/* btnのcomponent */
.btn-type, .btn-type--wht, .btn-type--t1, .btn-type--t1_2, .btn-type--t1_3 {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 180px;
  max-width: 100%;
  border: 0;
  padding: 1em 1.5em;
  font-weight: 500;
  text-align: center;
  line-height: 1.1;
  -webkit-user-select: none;
  background-color: #fff;
  text-decoration: none !important;
}

@media (min-width: 768px) {
  .btn-type, .btn-type--wht, .btn-type--t1, .btn-type--t1_2, .btn-type--t1_3 {
    min-width: 240px;
    max-width: 360px;
  }
}
.btn-type .ti-angle-right, .btn-type--wht .btn-type .ti-angle-right, .btn-type .btn-type--wht .ti-angle-right, .btn-type--t1 .btn-type .ti-angle-right, .btn-type .btn-type--t1 .ti-angle-right, .btn-type--t1_2 .btn-type .ti-angle-right, .btn-type .btn-type--t1_2 .ti-angle-right, .btn-type--t1_3 .btn-type .ti-angle-right, .btn-type .btn-type--t1_3 .ti-angle-right, .btn-type .btn-type--wht .ti-angle-right, .btn-type--wht .btn-type .ti-angle-right, .btn-type--wht .ti-angle-right, .btn-type--t1 .btn-type--wht .ti-angle-right, .btn-type--wht .btn-type--t1 .ti-angle-right, .btn-type--t1_2 .btn-type--wht .ti-angle-right, .btn-type--wht .btn-type--t1_2 .ti-angle-right, .btn-type--t1_3 .btn-type--wht .ti-angle-right, .btn-type--wht .btn-type--t1_3 .ti-angle-right, .btn-type .btn-type--t1 .ti-angle-right, .btn-type--t1 .btn-type .ti-angle-right, .btn-type--wht .btn-type--t1 .ti-angle-right, .btn-type--t1 .btn-type--wht .ti-angle-right, .btn-type--t1 .ti-angle-right, .btn-type--t1_2 .btn-type--t1 .ti-angle-right, .btn-type--t1 .btn-type--t1_2 .ti-angle-right, .btn-type--t1_3 .btn-type--t1 .ti-angle-right, .btn-type--t1 .btn-type--t1_3 .ti-angle-right, .btn-type .btn-type--t1_2 .ti-angle-right, .btn-type--t1_2 .btn-type .ti-angle-right, .btn-type--wht .btn-type--t1_2 .ti-angle-right, .btn-type--t1_2 .btn-type--wht .ti-angle-right, .btn-type--t1 .btn-type--t1_2 .ti-angle-right, .btn-type--t1_2 .btn-type--t1 .ti-angle-right, .btn-type--t1_2 .ti-angle-right, .btn-type--t1_3 .btn-type--t1_2 .ti-angle-right, .btn-type--t1_2 .btn-type--t1_3 .ti-angle-right, .btn-type .btn-type--t1_3 .ti-angle-right, .btn-type--t1_3 .btn-type .ti-angle-right, .btn-type--wht .btn-type--t1_3 .ti-angle-right, .btn-type--t1_3 .btn-type--wht .ti-angle-right, .btn-type--t1 .btn-type--t1_3 .ti-angle-right, .btn-type--t1_3 .btn-type--t1 .ti-angle-right, .btn-type--t1_2 .btn-type--t1_3 .ti-angle-right, .btn-type--t1_3 .btn-type--t1_2 .ti-angle-right, .btn-type--t1_3 .ti-angle-right,
.btn-type .ti-angle-down,
.btn-type--wht .btn-type .ti-angle-down, .btn-type .btn-type--wht .ti-angle-down,
.btn-type--t1 .btn-type .ti-angle-down, .btn-type .btn-type--t1 .ti-angle-down,
.btn-type--t1_2 .btn-type .ti-angle-down, .btn-type .btn-type--t1_2 .ti-angle-down,
.btn-type--t1_3 .btn-type .ti-angle-down, .btn-type .btn-type--t1_3 .ti-angle-down,
.btn-type .btn-type--wht .ti-angle-down, .btn-type--wht .btn-type .ti-angle-down,
.btn-type--wht .ti-angle-down,
.btn-type--t1 .btn-type--wht .ti-angle-down, .btn-type--wht .btn-type--t1 .ti-angle-down,
.btn-type--t1_2 .btn-type--wht .ti-angle-down, .btn-type--wht .btn-type--t1_2 .ti-angle-down,
.btn-type--t1_3 .btn-type--wht .ti-angle-down, .btn-type--wht .btn-type--t1_3 .ti-angle-down,
.btn-type .btn-type--t1 .ti-angle-down, .btn-type--t1 .btn-type .ti-angle-down,
.btn-type--wht .btn-type--t1 .ti-angle-down, .btn-type--t1 .btn-type--wht .ti-angle-down,
.btn-type--t1 .ti-angle-down,
.btn-type--t1_2 .btn-type--t1 .ti-angle-down, .btn-type--t1 .btn-type--t1_2 .ti-angle-down,
.btn-type--t1_3 .btn-type--t1 .ti-angle-down, .btn-type--t1 .btn-type--t1_3 .ti-angle-down,
.btn-type .btn-type--t1_2 .ti-angle-down, .btn-type--t1_2 .btn-type .ti-angle-down,
.btn-type--wht .btn-type--t1_2 .ti-angle-down, .btn-type--t1_2 .btn-type--wht .ti-angle-down,
.btn-type--t1 .btn-type--t1_2 .ti-angle-down, .btn-type--t1_2 .btn-type--t1 .ti-angle-down,
.btn-type--t1_2 .ti-angle-down,
.btn-type--t1_3 .btn-type--t1_2 .ti-angle-down, .btn-type--t1_2 .btn-type--t1_3 .ti-angle-down,
.btn-type .btn-type--t1_3 .ti-angle-down, .btn-type--t1_3 .btn-type .ti-angle-down,
.btn-type--wht .btn-type--t1_3 .ti-angle-down, .btn-type--t1_3 .btn-type--wht .ti-angle-down,
.btn-type--t1 .btn-type--t1_3 .ti-angle-down, .btn-type--t1_3 .btn-type--t1 .ti-angle-down,
.btn-type--t1_2 .btn-type--t1_3 .ti-angle-down, .btn-type--t1_3 .btn-type--t1_2 .ti-angle-down,
.btn-type--t1_3 .ti-angle-down, .btn-type .ti-angle-left, .btn-type--wht .btn-type .ti-angle-left, .btn-type .btn-type--wht .ti-angle-left, .btn-type--t1 .btn-type .ti-angle-left, .btn-type .btn-type--t1 .ti-angle-left, .btn-type--t1_2 .btn-type .ti-angle-left, .btn-type .btn-type--t1_2 .ti-angle-left, .btn-type--t1_3 .btn-type .ti-angle-left, .btn-type .btn-type--t1_3 .ti-angle-left, .btn-type .btn-type--wht .ti-angle-left, .btn-type--wht .btn-type .ti-angle-left, .btn-type--wht .ti-angle-left, .btn-type--t1 .btn-type--wht .ti-angle-left, .btn-type--wht .btn-type--t1 .ti-angle-left, .btn-type--t1_2 .btn-type--wht .ti-angle-left, .btn-type--wht .btn-type--t1_2 .ti-angle-left, .btn-type--t1_3 .btn-type--wht .ti-angle-left, .btn-type--wht .btn-type--t1_3 .ti-angle-left, .btn-type .btn-type--t1 .ti-angle-left, .btn-type--t1 .btn-type .ti-angle-left, .btn-type--wht .btn-type--t1 .ti-angle-left, .btn-type--t1 .btn-type--wht .ti-angle-left, .btn-type--t1 .ti-angle-left, .btn-type--t1_2 .btn-type--t1 .ti-angle-left, .btn-type--t1 .btn-type--t1_2 .ti-angle-left, .btn-type--t1_3 .btn-type--t1 .ti-angle-left, .btn-type--t1 .btn-type--t1_3 .ti-angle-left, .btn-type .btn-type--t1_2 .ti-angle-left, .btn-type--t1_2 .btn-type .ti-angle-left, .btn-type--wht .btn-type--t1_2 .ti-angle-left, .btn-type--t1_2 .btn-type--wht .ti-angle-left, .btn-type--t1 .btn-type--t1_2 .ti-angle-left, .btn-type--t1_2 .btn-type--t1 .ti-angle-left, .btn-type--t1_2 .ti-angle-left, .btn-type--t1_3 .btn-type--t1_2 .ti-angle-left, .btn-type--t1_2 .btn-type--t1_3 .ti-angle-left, .btn-type .btn-type--t1_3 .ti-angle-left, .btn-type--t1_3 .btn-type .ti-angle-left, .btn-type--wht .btn-type--t1_3 .ti-angle-left, .btn-type--t1_3 .btn-type--wht .ti-angle-left, .btn-type--t1 .btn-type--t1_3 .ti-angle-left, .btn-type--t1_3 .btn-type--t1 .ti-angle-left, .btn-type--t1_2 .btn-type--t1_3 .ti-angle-left, .btn-type--t1_3 .btn-type--t1_2 .ti-angle-left, .btn-type--t1_3 .ti-angle-left {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.2rem;
}

.btn-type .ti-angle-right, .btn-type--wht .ti-angle-right, .btn-type--t1 .ti-angle-right, .btn-type--t1_2 .ti-angle-right, .btn-type--t1_3 .ti-angle-right,
.btn-type .ti-angle-down,
.btn-type--wht .ti-angle-down,
.btn-type--t1 .ti-angle-down,
.btn-type--t1_2 .ti-angle-down,
.btn-type--t1_3 .ti-angle-down {
  right: 7px;
}

.btn-type .ti-angle-left, .btn-type--wht .ti-angle-left, .btn-type--t1 .ti-angle-left, .btn-type--t1_2 .ti-angle-left, .btn-type--t1_3 .ti-angle-left {
  left: 7px;
}

/* btn-type */
.btn-type, .btn-type--wht, .btn-type--t1, .btn-type--t1_2, .btn-type--t1_3 {
  z-index: 1;
  border-width: 2px;
  border-style: solid;
  border-color: #111;
  background-color: transparent;
  color: #fff !important;
}

.btn-type::before, .btn-type--wht::before, .btn-type--t1::before, .btn-type--t1_2::before, .btn-type--t1_3::before {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: -1;
  background-color: #111;
}

@media (min-width: 768px) {
  .btn-type, .btn-type--wht, .btn-type--t1, .btn-type--t1_2, .btn-type--t1_3 {
    color: #111 !important;
    -webkit-transition: background 0.3s, color 0.3s, border 0.3s;
    transition: background 0.3s, color 0.3s, border 0.3s;
  }
  
  .btn-type::before, .btn-type--wht::before, .btn-type--t1::before, .btn-type--t1_2::before, .btn-type--t1_3::before {
    opacity: 0;
    width: 0;
    height: 0;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .btn-type.is-hover, .is-hover.btn-type--wht, .is-hover.btn-type--t1, .is-hover.btn-type--t1_2, .is-hover.btn-type--t1_3 {
    color: #fff !important;
  }
  
  .btn-type.is-hover::before, .is-hover.btn-type--wht::before, .is-hover.btn-type--t1::before, .is-hover.btn-type--t1_2::before, .is-hover.btn-type--t1_3::before {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}
.btn-type--wht {
  border-color: #fff;
  color: #111 !important;
}

.btn-type--wht::before {
  background-color: #fff;
}

@media (min-width: 768px) {
  .btn-type--wht {
    color: #fff !important;
  }
  
  .btn-type--wht.is-hover {
    color: #111 !important;
  }
}
.btn-type--t1 {
  border-color: #ff550a;
  color: #fff !important;
}

.btn-type--t1::before {
  background-color: #ff550a;
}

@media (min-width: 768px) {
  .btn-type--t1 {
    color: #ff550a !important;
  }
  
  .btn-type--t1.is-hover {
    color: #fff !important;
  }
}
.btn-type--t1_2 {
  border-color: #fd6301;
  color: #fff !important;
}

.btn-type--t1_2::before {
  background-color: #fd6301;
}

@media (min-width: 768px) {
  .btn-type--t1_2 {
    color: #fd6301 !important;
  }
  
  .btn-type--t1_2.is-hover {
    color: #fff !important;
  }
}
.btn-type--t1_3 {
  border-color: #ff9c3b;
  color: #fff !important;
}

.btn-type--t1_3::before {
  background-color: #ff9c3b;
}

@media (min-width: 768px) {
  .btn-type--t1_3 {
    color: #ff9c3b !important;
  }
  
  .btn-type--t1_3.is-hover {
    color: #fff !important;
  }
}
@media (min-width: 768px) {
  .is-hover.addCover--blk, .is-hover.addCover--t1, .is-hover.addCover--t1_2, .is-hover.addCover--t1_3 {
    background-color: transparent !important;
  }
  
  .addCover--blk {
    background-color: rgba(17, 17, 17, 0.5);
  }
  
  .addCover--t1 {
    background-color: rgba(56, 17, 0, 0.5);
  }
  
  .addCover--t1_2 {
    background-color: rgba(45, 18, 0, 0.5);
  }
  
  .addCover--t1_3 {
    background-color: rgba(105, 52, 0, 0.5);
  }
}
/* 2-1-10. Link      [lnk-***]
-------------------------------------------------- */
.lnk-none {
  text-decoration: none !important;
  color: inherit !important;
}

.lnk-tel {
  pointer-events: auto;
  text-decoration: none !important;
}

.lnk-fax {
  pointer-events: none;
}

.lnk-bdr {
  border-bottom: 1px solid #ff550a;
  color: #ff550a;
}

.lnk-txt {
  display: inline;
  color: #ff550a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.lnk-txt [class*=ti-] {
  margin-left: 5px;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  [class*=lnk-] {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .lnk-tel {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    pointer-events: none;
  }
  
  .js-lnkBox.is-active .lnk-txt, .lnk-txt:hover {
    color: #fd6301;
  }
  
  .lnk-bdr:hover {
    border-bottom: none;
  }
}
/* 2-1-15. Card      [crd-***]
-------------------------------------------------- */
.crd {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin-bottom: 15px;
  height: calc(100% - 15px);
  background-color: #fff;
}

.crd__img {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
}

.crd__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding: 15px;
}

.crd__img {
  /*padding-top: 33.3333%;*/
  /* 3:1 */
  /*padding-top: 40%;*/
  /* 5:2 */
  /*padding-top: 50%;*/
  /* 2:1 */
  /*padding-top: 56.25%;*/
  /* 16:9; */
  padding-top: 66.66667%;
  /* 3:2 */
  /*padding-top: 75%;*/
  /* 4:3 */
  /*padding-top: 200%;*/
  /* 1:2 */
}

.crd__ttl {
  margin-bottom: 8px;
  font-size: 1.6rem;
  font-weight: 400;
}

.crd__txt {
  margin-bottom: 15px;
  line-height: 2;
}

/*.crd__lnk {
  margin-top: auto;
}*/
@media (min-width: 576px) {
  .crd__img {
    /*padding-top: 33.3333%;*/
    /* 3:1 */
    /*padding-top: 40%;*/
    /* 5:2 */
    /*padding-top: 50%;*/
    /* 2:1 */
    /*padding-top: 56.25%;*/
    /* 16:9; */
    padding-top: 66.66667%;
    /* 3:2 */
    /*padding-top: 75%;*/
    /* 4:3 */
    /*padding-top: 200%;*/
    /* 1:2 */
  }
  
  .crd__ttl {
    margin-bottom: 15px;
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  .crd {
    height: 100%;
    margin-bottom: 0;
  }
  
  .crd__content {
    padding: 30px;
  }
}
.crd-pdtm,
.crd-pdts {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: calc(100% - (30px / 2));
  margin-top: 15px;
  text-decoration: none !important;
}

@media (min-width: 576px) {
  .crd-pdtm,
  .crd-pdts {
    height: calc(100% - 30px);
    margin-top: 30px;
  }
}
.crd-pdtm__img,
.crd-pdts__img {
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.crd-pdtm__img figure,
.crd-pdts__img figure {
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.crd-pdtm__content,
.crd-pdts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.crd-pdtm__ttl,
.crd-pdts__ttl {
  overflow: hidden;
  position: relative;
  width: 100%;
  font-size: 108%;
  color: #ff550a;
}

.crd-pdtm__ttl::before, .crd-pdtm__ttl::after,
.crd-pdts__ttl::before,
.crd-pdts__ttl::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #ff550a;
}

.crd-pdtm__ttl::before,
.crd-pdts__ttl::before {
  width: 100%;
}

.crd-pdtm__ttl::after,
.crd-pdts__ttl::after {
  width: 0.5em;
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.crd-pdtm__txt,
.crd-pdts__txt {
  padding-top: 0.75em !important;
  font-size: 1.2rem;
  line-height: 1.33;
}

@media (min-width: 576px) {
  .crd-pdtm__txt,
  .crd-pdts__txt {
    font-size: 1.3rem;
    line-height: 1.23;
  }
}
.crd-pdtm__img {
  width: 90px;
}

@media (min-width: 768px) {
  .crd-pdtm__img {
    width: calc(100% - 30px);
  }
}
.crd-pdtm__content {
  width: calc(100% - 105px);
  margin-left: 15px;
}

@media (min-width: 768px) {
  .crd-pdtm__content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: calc(100% - 30px);
    margin-left: 30px;
  }
}
@media (min-width: 768px) {
  .crd-pdtm__ttl {
    font-size: 150%;
  }
}
@media (min-width: 768px) {
  .crd-pdts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.crd-pdts__img {
  width: 90px;
}

@media (min-width: 768px) {
  .crd-pdts__img {
    width: calc(100%);
  }
}
.crd-pdts__content {
  width: calc(100% - 105px);
  margin-left: 15px;
}

@media (min-width: 768px) {
  .crd-pdts__content {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 7.5px;
  }
}
@media (min-width: 768px) {
  .crd-pdts__ttl {
    font-size: 120%;
  }
}
/* -----------------------------------------------
/* 2-3. OverLayerConfig [z-index]
-------------------------------------------------- */
/* 記述の参考として */
/* .l-loader {
  z-index: 2001;
}

.g-header {
  z-index: 2000;
}

.l-header {
  z-index: 2001;
}

.logo {
  z-index: 2002;
}

.l-mark {
  z-index: 5000;
}

.g-nav, .l-nav {
  z-index: 4000;
}

.globalNav__bg {
  z-index: 4001;
}

.globalNav__content {
  z-index: 4002;
}

.subNav {
  z-index: 1000;
}

.g-footer {
  z-index: 1000;
}

.l-footer {
  z-index: 1001;
}

.g-main,
.l-main {
  z-index: 100;
}

.l-content {
  z-index: 102;
}

.mainImgWrap {
  z-index: 101;
} */
.styleTest {
  color: green;
}

/*# sourceMappingURL=style.css.map */
