@charset "UTF-8";
/*
_reset.scss
*******************************************************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend,
p, blockquote, table, th, td {
  margin: 0;
  padding: 0;
}

html, body {
  background: #FFF;
  color: #000;
}

body {
  font: 12px/1 "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
}

* html body {
  font-size: small;
}

*:first-child + html body {
  font-size: small;
}

img {
  border: 0;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-size: 100%;
  font-weight: normal;
}

ul, dl, ol {
  text-indent: 0;
}

li {
  list-style: none;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

* html input, * html textarea, * html select {
  font-size: 100%;
}

*:first-child + html + input, *:first-child html + textarea, *:first-child + html select {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
}

th, td {
  text-align: left;
  vertical-align: top;
}

caption {
  text-align: left;
}

pre, code, kbd, samp, tt {
  font-family: monospace;
}

* html pre, * html code, * html kbd, * html samp, * html tt {
  font-size: 100%;
  line-height: 100%;
}

*:first-child + html pre, *:first-child html + code, *:first-child html + kbd, *:first-child + html + samp, *:first-child + html tt {
  font-size: 108%;
  line-height: 100%;
}

input, select, textarea {
  font-size: 100%;
  font-family: Verdana, Helvetica, sans-serif;
}

/*
_base.scss
*******************************************************************************************************************/
/* -----------------------------------------------
0. Foundation
0-1. Base
0-2-1. font family
0-2-2. color management
0-2-3. lightbox
1. Layout
1-1.  .l-wrapper
1-2.  .l-container
2. Object
2-1. Component
2-1-1.  Wrap      [***Wrap]
2-1-4.  Title     [ttl-***]
2-1-5.  Headings  [hdg-***]
2-1-6.  Paragraph [prg-***]
2-1-9.  Button    [btn-***]
2-1-10. Link      [lnk-***]
2-1-15. Card      [crd-***]
2-3. OverLayerConfig [z-index]
-------------------------------------------------- */
/*====================================================================================
[0. Foundation]
====================================================================================*/
/* -----------------------------------------------
/* 0-1. Base
-------------------------------------------------- */
html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: #111111;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8;
  width: 100%;
  font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body.is-fix {
  position: fixed;
  width: 100%;
  height: 100%;
}

/*
@media (min-width: 768px) {
    body {
        font-size: 50%;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: 1.4rem;
    }
    body.is-fix {
        position: static;
    }
}
*/
body *,
body *::before,
body *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  word-break: break-all;
  background-color: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

a:link {
  text-decoration: none;
  color: #111111;
}

a:visited {
  text-decoration: none;
  color: #111111;
}

a:hover, a:active {
  outline-width: 0;
  text-decoration: none;
  color: #111111;
}

a:focus {
  outline-width: 0;
  text-decoration: none;
}

li img, li a, li a img {
  vertical-align: bottom;
}

/* 0-2-1.  font family
-------------------------------------------------- */
@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansJP-Regular.woff2) format("woff2"), url(../fonts/NotoSansJP-Regular.woff) format("woff"), url(../fonts/NotoSansJP-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansJP-Medium.woff2) format("woff2"), url(../fonts/NotoSansJP-Medium.woff) format("woff"), url(../fonts/NotoSansJP-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansJP-Bold.woff2) format("woff2"), url(../fonts/NotoSansJP-Bold.woff) format("woff"), url(../fonts/NotoSansJP-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/NotoSansJP-Black.woff2) format("woff2"), url(../fonts/NotoSansJP-Black.woff) format("woff"), url(../fonts/NotoSansJP-Black.otf) format("opentype");
}
/* 見出しのみ書体変更 */
.u-ff-oswald,
.ttl > *::before,
.ttl-2Lang__side [class*=hdg-]::before,
.ttl-2Lang__after [class*=hdg-]::after {
  font-family: "Oswald", sans-serif;
}

/* 0-2-2.  color management
-------------------------------------------------- */
/* base-color */
/* サイトによって調整 */
/* thema-color */
/* 0-2-3.  lightbox
-------------------------------------------------- */
/* fontAwesomeの使い方 */
/*a[data-lightbox="lb"] {
    position: relative;
    text-decoration: none !important;
    pointer-events: none;
}

a[data-lightbox="lb"]::after {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'fontAwesome';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-rendering: auto;
    line-height: 1;
    content: "\f002";
    color: #fff;
    text-decoration: none !important;
}

@media (min-width: 768px) {
    a[data-lightbox="lb"] {
        pointer-events: auto;
    }
    a[data-lightbox="lb"]::after {
        display: inline-block;
    }
}
*/
/*
_utillity.scss
*******************************************************************************************************************/
/* -----------------------------------------------
* display
* flex
* row 
* col
* margin
* padding
* text-align
-------------------------------------------------- */
/*!
* display
*/
.u-d-n {
  display: none !important;
}

.u-d-b {
  display: block !important;
}

.u-d-f {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.u-d-if {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.u-d-i {
  display: inline !important;
}

.u-d-ib {
  display: inline-block !important;
}

/*!

* flex
*/
.fxd-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.fxd-rr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.fxd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fxd-cr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.jc-fs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.jc-fe {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.jc-c {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.jc-sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.jc-sa {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.ac-fs {
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.ac-fe {
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.ac-c {
  -ms-flex-line-pack: center;
  align-content: center;
}

.ac-sb {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.ac-sa {
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.ac-s {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.ai-fs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.ai-fe {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.ai-s {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.ai-c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ai-b {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

/*!


* row (l-containerのpadding相殺)
*/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/*!

* col
*/
.row > [class*=col-] {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 31.25em) {
  .col-ss {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-ss-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-ss-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-ss-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-ss-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-ss-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-ss-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-ss-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-ss-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-ss-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-ss-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-ss-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-ss-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-ss-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 37.5em) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 56.25em) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 68.75em) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 75em) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*!

* margin
*/
.u-mt0 {
  margin-top: 0 !important;
}

.u-mr0 {
  margin-right: 0 !important;
}

.u-mb0 {
  margin-bottom: 0 !important;
}

.u-ml0 {
  margin-left: 0 !important;
}

.u-mt5 {
  margin-top: 5px !important;
}

.u-mr5 {
  margin-right: 5px !important;
}

.u-mb5 {
  margin-bottom: 5px !important;
}

.u-ml5 {
  margin-left: 5px !important;
}

.u-mt10 {
  margin-top: 10px !important;
}

.u-mr10 {
  margin-right: 10px !important;
}

.u-mb10 {
  margin-bottom: 10px !important;
}

.u-ml10 {
  margin-left: 10px !important;
}

.u-mt15 {
  margin-top: 15px !important;
}

.u-mr15 {
  margin-right: 15px !important;
}

.u-mb15 {
  margin-bottom: 15px !important;
}

.u-ml15 {
  margin-left: 15px !important;
}

.u-mt20 {
  margin-top: 20px !important;
}

.u-mr20 {
  margin-right: 20px !important;
}

.u-mb20 {
  margin-bottom: 20px !important;
}

.u-ml20 {
  margin-left: 20px !important;
}

.u-mt25 {
  margin-top: 25px !important;
}

.u-mr25 {
  margin-right: 25px !important;
}

.u-mb25 {
  margin-bottom: 25px !important;
}

.u-ml25 {
  margin-left: 25px !important;
}

.u-mt30 {
  margin-top: 30px !important;
}

.u-mr30 {
  margin-right: 30px !important;
}

.u-mb30 {
  margin-bottom: 30px !important;
}

.u-ml30 {
  margin-left: 30px !important;
}

.u-mt35 {
  margin-top: 35px !important;
}

.u-mr35 {
  margin-right: 35px !important;
}

.u-mb35 {
  margin-bottom: 35px !important;
}

.u-ml35 {
  margin-left: 35px !important;
}

.u-mt40 {
  margin-top: 40px !important;
}

.u-mr40 {
  margin-right: 40px !important;
}

.u-mb40 {
  margin-bottom: 40px !important;
}

.u-ml40 {
  margin-left: 40px !important;
}

.u-mt45 {
  margin-top: 45px !important;
}

.u-mr45 {
  margin-right: 45px !important;
}

.u-mb45 {
  margin-bottom: 45px !important;
}

.u-ml45 {
  margin-left: 45px !important;
}

.u-mt50 {
  margin-top: 50px !important;
}

.u-mr50 {
  margin-right: 50px !important;
}

.u-mb50 {
  margin-bottom: 50px !important;
}

.u-ml50 {
  margin-left: 50px !important;
}

.u-mt55 {
  margin-top: 55px !important;
}

.u-mr55 {
  margin-right: 55px !important;
}

.u-mb55 {
  margin-bottom: 55px !important;
}

.u-ml55 {
  margin-left: 55px !important;
}

.u-mt60 {
  margin-top: 60px !important;
}

.u-mr60 {
  margin-right: 60px !important;
}

.u-mb60 {
  margin-bottom: 60px !important;
}

.u-ml60 {
  margin-left: 60px !important;
}

/*!

* padding
*/
.u-pt0 {
  padding-top: 0 !important;
}

.u-pr0 {
  padding-right: 0 !important;
}

.u-pb0 {
  padding-bottom: 0 !important;
}

.u-pl0 {
  padding-left: 0 !important;
}

.u-pv0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.u-ph0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.u-pa0 {
  padding: 0 !important;
}

.u-pt5 {
  padding-top: 5px !important;
}

.u-pr5 {
  padding-right: 5px !important;
}

.u-pb5 {
  padding-bottom: 5px !important;
}

.u-pl5 {
  padding-left: 5px !important;
}

.u-pv5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.u-ph5 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.u-pa5 {
  padding: 5px !important;
}

.u-pt10 {
  padding-top: 10px !important;
}

.u-pr10 {
  padding-right: 10px !important;
}

.u-pb10 {
  padding-bottom: 10px !important;
}

.u-pl10 {
  padding-left: 10px !important;
}

.u-pv10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.u-ph10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.u-pa10 {
  padding: 10px !important;
}

.u-pt15 {
  padding-top: 15px !important;
}

.u-pr15 {
  padding-right: 15px !important;
}

.u-pb15 {
  padding-bottom: 15px !important;
}

.u-pl15 {
  padding-left: 15px !important;
}

.u-pv15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.u-ph15 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.u-pa15 {
  padding: 15px !important;
}

.u-pt20 {
  padding-top: 20px !important;
}

.u-pr20 {
  padding-right: 20px !important;
}

.u-pb20 {
  padding-bottom: 20px !important;
}

.u-pl20 {
  padding-left: 20px !important;
}

.u-pv20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.u-ph20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.u-pa20 {
  padding: 20px !important;
}

.u-pt25 {
  padding-top: 25px !important;
}

.u-pr25 {
  padding-right: 25px !important;
}

.u-pb25 {
  padding-bottom: 25px !important;
}

.u-pl25 {
  padding-left: 25px !important;
}

.u-pv25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.u-ph25 {
  padding-right: 25px !important;
  padding-left: 25px !important;
}

.u-pa25 {
  padding: 25px !important;
}

.u-pt30 {
  padding-top: 30px !important;
}

.u-pr30 {
  padding-right: 30px !important;
}

.u-pb30 {
  padding-bottom: 30px !important;
}

.u-pl30 {
  padding-left: 30px !important;
}

.u-pv30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.u-ph30 {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.u-pa30 {
  padding: 30px !important;
}

.u-pt35 {
  padding-top: 35px !important;
}

.u-pr35 {
  padding-right: 35px !important;
}

.u-pb35 {
  padding-bottom: 35px !important;
}

.u-pl35 {
  padding-left: 35px !important;
}

.u-pv35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.u-ph35 {
  padding-right: 35px !important;
  padding-left: 35px !important;
}

.u-pa35 {
  padding: 35px !important;
}

.u-pt40 {
  padding-top: 40px !important;
}

.u-pr40 {
  padding-right: 40px !important;
}

.u-pb40 {
  padding-bottom: 40px !important;
}

.u-pl40 {
  padding-left: 40px !important;
}

.u-pv40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.u-ph40 {
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.u-pa40 {
  padding: 40px !important;
}

.u-pt45 {
  padding-top: 45px !important;
}

.u-pr45 {
  padding-right: 45px !important;
}

.u-pb45 {
  padding-bottom: 45px !important;
}

.u-pl45 {
  padding-left: 45px !important;
}

.u-pv45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.u-ph45 {
  padding-right: 45px !important;
  padding-left: 45px !important;
}

.u-pa45 {
  padding: 45px !important;
}

.u-pt50 {
  padding-top: 50px !important;
}

.u-pr50 {
  padding-right: 50px !important;
}

.u-pb50 {
  padding-bottom: 50px !important;
}

.u-pl50 {
  padding-left: 50px !important;
}

.u-pv50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.u-ph50 {
  padding-right: 50px !important;
  padding-left: 50px !important;
}

.u-pa50 {
  padding: 50px !important;
}

.u-pt55 {
  padding-top: 55px !important;
}

.u-pr55 {
  padding-right: 55px !important;
}

.u-pb55 {
  padding-bottom: 55px !important;
}

.u-pl55 {
  padding-left: 55px !important;
}

.u-pv55 {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}

.u-ph55 {
  padding-right: 55px !important;
  padding-left: 55px !important;
}

.u-pa55 {
  padding: 55px !important;
}

.u-pt60 {
  padding-top: 60px !important;
}

.u-pr60 {
  padding-right: 60px !important;
}

.u-pb60 {
  padding-bottom: 60px !important;
}

.u-pl60 {
  padding-left: 60px !important;
}

.u-pv60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.u-ph60 {
  padding-right: 60px !important;
  padding-left: 60px !important;
}

.u-pa60 {
  padding: 60px !important;
}

.u-ta-l {
  text-align: left !important;
}

.u-ta-c {
  text-align: center !important;
}

.u-ta-r {
  text-align: right !important;
}

.u-ta-j {
  text-align: justify !important;
}

.u-va-sup {
  vertical-align: super !important;
}

.u-va-t {
  vertical-align: top !important;
}

.u-va-tt {
  vertical-align: text-top !important;
}

.u-va-m {
  vertical-align: middle !important;
}

.u-va-bl {
  vertical-align: baseline !important;
}

.u-va-tb {
  vertical-align: text-bottom !important;
}

.u-va-b {
  vertical-align: bottom !important;
}

.u-va-sub {
  vertical-align: sub !important;
}

@media (min-width: 37.5em) {
  .ta-sm-l {
    text-align: left !important;
  }

  .ta-sm-c {
    text-align: center !important;
  }

  .ta-sm-r {
    text-align: right !important;
  }

  .ta-sm-j {
    text-align: justify !important;
  }

  .va-sm-sup {
    vertical-align: super !important;
  }

  .va-sm-t {
    vertical-align: top !important;
  }

  .va-sm-tt {
    vertical-align: text-top !important;
  }

  .va-sm-m {
    vertical-align: middle !important;
  }

  .va-sm-bl {
    vertical-align: baseline !important;
  }

  .va-sm-tb {
    vertical-align: text-bottom !important;
  }

  .va-sm-b {
    vertical-align: bottom !important;
  }

  .va-sm-sub {
    vertical-align: sub !important;
  }
}
@media (min-width: 56.25em) {
  .ta-md-l {
    text-align: left !important;
  }

  .ta-md-c {
    text-align: center !important;
  }

  .ta-md-r {
    text-align: right !important;
  }

  .ta-md-j {
    text-align: justify !important;
  }

  .va-md-sup {
    vertical-align: super !important;
  }

  .va-md-t {
    vertical-align: top !important;
  }

  .va-md-tt {
    vertical-align: text-top !important;
  }

  .va-md-m {
    vertical-align: middle !important;
  }

  .va-md-bl {
    vertical-align: baseline !important;
  }

  .va-md-tb {
    vertical-align: text-bottom !important;
  }

  .va-md-b {
    vertical-align: bottom !important;
  }

  .va-md-sub {
    vertical-align: sub !important;
  }
}
@media (min-width: 68.75em) {
  .ta-lg-l {
    text-align: left !important;
  }

  .ta-lg-c {
    text-align: center !important;
  }

  .ta-lg-r {
    text-align: right !important;
  }

  .ta-lg-j {
    text-align: justify !important;
  }

  .va-lg-sup {
    vertical-align: super !important;
  }

  .va-lg-t {
    vertical-align: top !important;
  }

  .va-lg-tt {
    vertical-align: text-top !important;
  }

  .va-lg-m {
    vertical-align: middle !important;
  }

  .va-lg-bl {
    vertical-align: baseline !important;
  }

  .va-lg-tb {
    vertical-align: text-bottom !important;
  }

  .va-lg-b {
    vertical-align: bottom !important;
  }

  .va-lg-sub {
    vertical-align: sub !important;
  }
}
@media (min-width: 75em) {
  .ta-xl-l {
    text-align: left !important;
  }

  .ta-xl-c {
    text-align: center !important;
  }

  .ta-xl-r {
    text-align: right !important;
  }

  .ta-xl-j {
    text-align: justify !important;
  }

  .va-xl-sup {
    vertical-align: super !important;
  }

  .va-xl-t {
    vertical-align: top !important;
  }

  .va-xl-tt {
    vertical-align: text-top !important;
  }

  .va-xl-m {
    vertical-align: middle !important;
  }

  .va-xl-bl {
    vertical-align: baseline !important;
  }

  .va-xl-tb {
    vertical-align: text-bottom !important;
  }

  .va-xl-b {
    vertical-align: bottom !important;
  }

  .va-xl-sub {
    vertical-align: sub !important;
  }
}
/*
_components.scss
*******************************************************************************************************************/
/*====================================================================================
[1. Layout]
====================================================================================*/
/* -----------------------------------------------
/* 1-1.  .l-wrapper
-------------------------------------------------- */
.l-wrapper {
  position: relative;
  overflow: hidden;
}

/* -----------------------------------------------
/* 1-7.  .l-container
-------------------------------------------------- */
.l-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.l-container--fluid {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  position: relative;
}

/*====================================================================================
[2. Object]
====================================================================================*/
/* -----------------------------------------------
/* 2-1. Component
-------------------------------------------------- */
/* 2-1-1.  Wrap      [***Wrap]
-------------------------------------------------- */
[class*=Wrap] {
  padding: 20px 0;
}

@media (min-width: 56.25em) {
  [class*=Wrap] {
    padding: 45px 0;
  }
}
@media (min-width: 68.75em) {
  [class*=Wrap] {
    padding: 75px 0;
  }
}
/* 2-1-6.  Paragraph [prg-***]
-------------------------------------------------- */
[class*=prg-] {
  padding-top: 7.5px;
  line-height: 2;
}

[class*=prg-] p + p {
  margin-top: 7.5px;
}

.prg-xl {
  font-size: 2rem;
  line-height: 1.2;
}

.prg-l {
  font-size: 1.8rem;
  line-height: 1.2;
}

.prg-m {
  font-size: 1.5rem;
  line-height: 1.8;
}

.prg-s {
  font-size: 1.3rem;
  line-height: 1.8;
}

.prg-xs {
  font-size: 1.1rem;
  line-height: 1.5;
}

/* @media (max-width: 767px) {
    [class*="prg-"] .richtext p br {
        display: none;
    }
}

@media (min-width: 768px) {
    [class*="prg-"] {
        padding-top: 15px;
        line-height: 2.0;
    }
    [class*="prg-"] p + p {
        margin-top: 15px;
    }
    .prg-xl {
        font-size: 1.8rem;
        line-height: 1.2;
    }
    .prg-l {
        font-size: 1.6rem;
        line-height: 1.5;
    }
    .prg-m {
        font-size: 1.4rem;
        line-height: 1.8;
    }
    .prg-s {
        font-size: 1.3rem;
        line-height: 1.8;
    }
    .prg-xs {
        font-size: 1.1rem;
        line-height: 1.5;
    }
}

@media (min-width: 992px) {
    .prg-xl {
        font-size: 2.4rem;
    }
    .prg-l {
        font-size: 1.8rem;
    }
    .prg-m {
        font-size: 1.6rem;
    }
    .prg-s {
        font-size: 1.4rem;
    }
    .prg-xs {
        font-size: 1.1rem;
        line-height: 1.5;
    }
}

[class*="prg-"] .richtext p a {
    text-decoration: underline;
} */
/* -----------------------------------------------
/* 2-1. Component
-------------------------------------------------- */
/* 2-1-4.  Title     [ttl-***]
-------------------------------------------------- */
.ttl {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #666;
}

.ttl > * {
  font-weight: 500;
  line-height: 1.1;
}

.ttl > *::before {
  content: "";
  display: block;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  color: #ff550a;
}

.ttl__side [class*=hdg-] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: 500;
  line-height: 1.1;
}

@media (min-width: 768px) {
  .ttl__side [class*=hdg-] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.ttl__side [class*=hdg-]::before {
  content: "";
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  color: #ff550a;
}

.ttl__after [class*=hdg-] {
  font-weight: 500;
  line-height: 1.1;
}

.ttl__after [class*=hdg-]::after {
  content: "";
  display: block;
  font-size: 50%;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #ff550a;
}

.ttl-sub {
  text-align: center;
}

.ttl-sub::after {
  display: block;
  font-size: 50%;
  text-transform: uppercase;
  color: #ff550a;
  letter-spacing: 0.25em;
}

.ttl-sub::before {
  display: block;
  font-size: 50%;
  text-transform: uppercase;
  color: #ff550a;
  letter-spacing: 0.25em;
}

@media (min-width: 768px) {
  .ttl-sub::after {
    letter-spacing: 1em;
  }

  .ttl-sub::before {
    letter-spacing: 1em;
  }
}
/* 2-1-5.  Headings  [hdg-***]
-------------------------------------------------- */
.hdg-0 {
  font-size: 3.6rem;
}

.hdg-1 {
  font-size: 3.2rem;
}

.hdg-2 {
  font-size: 2.4rem;
}

.hdg-3 {
  font-size: 2rem;
}

.hdg-4 {
  font-size: 1.8rem;
}

.hdg-5 {
  font-size: 1.6rem;
}

.hdg-6 {
  font-size: 1.4rem;
}

@media (min-width: 576px) {
  .hdg-0 {
    font-size: 3.6rem;
  }

  .hdg-1 {
    font-size: 3.2rem;
  }

  .hdg-2 {
    font-size: 2.4rem;
  }

  .hdg-3 {
    font-size: 2rem;
  }

  .hdg-4 {
    font-size: 1.8rem;
  }

  .hdg-5 {
    font-size: 1.6rem;
  }

  .hdg-6 {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) {
  .hdg-0 {
    font-size: 3.6rem;
  }

  .hdg-1 {
    font-size: 3.2rem;
  }

  .hdg-2 {
    font-size: 2.4rem;
  }

  .hdg-3 {
    font-size: 2rem;
  }

  .hdg-4 {
    font-size: 1.8rem;
  }

  .hdg-5 {
    font-size: 1.6rem;
  }

  .hdg-6 {
    font-size: 1.4rem;
  }
}
/* 2-1-9.  Button    [btn-***]
-------------------------------------------------- */
.wrap-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-user-select: none;
}

.btn--prim {
  min-width: 20rem;
  height: 5rem;
  border: 2px solid #111;
  color: #111;
}
.btn--prim > span {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.2rem;
}

.btn--prim {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.btn--prim::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn--prim:hover {
  color: #fff;
}
.btn--prim:hover > span {
  color: #fff;
}
.btn--prim:hover::before {
  transform: scale(1);
}

/* 2-1-10. Link      [lnk-***]
-------------------------------------------------- */
.lnk-none {
  text-decoration: none !important;
  color: inherit !important;
}

.lnk-tel {
  pointer-events: auto;
  text-decoration: none !important;
}

.lnk-fax {
  pointer-events: none;
}

.lnk-bdr {
  border-bottom: 1px solid #ff550a;
  color: #ff550a;
}

.lnk-txt {
  display: inline;
  color: #ff550a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.lnk-txt [class*=ti-] {
  margin-left: 5px;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  [class*=lnk-] {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .lnk-tel {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    pointer-events: none;
  }

  .js-lnkBox.is-active .lnk-txt, .lnk-txt:hover {
    color: #fd6301;
  }

  .lnk-bdr:hover {
    border-bottom: none;
  }
}
/* 2-1-15. Card      [crd-***]
-------------------------------------------------- */
.crd {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin-bottom: 1.5rem;
  height: calc(100% - 15px);
  background-color: #fff;
  border: 3px solid #f1f1f1;
}

.crd__img {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
}

.crd__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem;
}

.crd__img {
  /*padding-top: 33.3333%;*/
  /* 3:1 */
  /*padding-top: 40%;*/
  /* 5:2 */
  /*padding-top: 50%;*/
  /* 2:1 */
  /*padding-top: 56.25%;*/
  /* 16:9; */
  padding-top: 66.66667%;
  /* 3:2 */
  /*padding-top: 75%;*/
  /* 4:3 */
  /*padding-top: 200%;*/
  /* 1:2 */
}

.crd__ttl {
  margin-bottom: 0.8rem;
}

.crd__txt {
  margin-bottom: 1.5rem;
}

@media (max-width: 37.5em) {
  .crd__img {
    /*padding-top: 33.3333%;*/
    /* 3:1 */
    padding-top: 40%;
    /* 5:2 */
    /*padding-top: 50%;*/
    /* 2:1 */
    /*padding-top: 56.25%;*/
    /* 16:9; */
    /*padding-top: 66.66667%;*/
    /* 3:2 */
    /*padding-top: 75%;*/
    /* 4:3 */
    /*padding-top: 200%;*/
    /* 1:2 */
  }
}
/* -----------------------------------------------
/* 2-3. OverLayerConfig [z-index]
-------------------------------------------------- */
/* 記述の参考として */
/* .l-loader {
    z-index: 2001;
}

.g-header {
    z-index: 2000;
}

.l-header {
    z-index: 2001;
}

.logo {
    z-index: 2002;
}

.l-mark {
    z-index: 5000;
}

.g-nav, .l-nav {
    z-index: 4000;
}

.globalNav__bg {
    z-index: 4001;
}

.globalNav__content {
    z-index: 4002;
}

.subNav {
    z-index: 1000;
}

.g-footer {
    z-index: 1000;
}

.l-footer {
    z-index: 1001;
}

.g-main,
.l-main {
    z-index: 100;
}

.l-content {
    z-index: 102;
}

.mainImgWrap {
    z-index: 101;
} */
.styleTest {
  color: red;
}

/*
_themify-icons.scss
*******************************************************************************************************************/
@font-face {
  font-family: "themify";
  src: url("../fonts/themify.eot?-fvbane");
  src: url("../fonts/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify.woff?-fvbane") format("woff"), url("../fonts/themify.ttf?-fvbane") format("truetype"), url("../fonts/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=ti-], [class*=" ti-"] {
  font-family: "themify";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti-wand:before {
  content: "";
}

.ti-volume:before {
  content: "";
}

.ti-user:before {
  content: "";
}

.ti-unlock:before {
  content: "";
}

.ti-unlink:before {
  content: "";
}

.ti-trash:before {
  content: "";
}

.ti-thought:before {
  content: "";
}

.ti-target:before {
  content: "";
}

.ti-tag:before {
  content: "";
}

.ti-tablet:before {
  content: "";
}

.ti-star:before {
  content: "";
}

.ti-spray:before {
  content: "";
}

.ti-signal:before {
  content: "";
}

.ti-shopping-cart:before {
  content: "";
}

.ti-shopping-cart-full:before {
  content: "";
}

.ti-settings:before {
  content: "";
}

.ti-search:before {
  content: "";
}

.ti-zoom-in:before {
  content: "";
}

.ti-zoom-out:before {
  content: "";
}

.ti-cut:before {
  content: "";
}

.ti-ruler:before {
  content: "";
}

.ti-ruler-pencil:before {
  content: "";
}

.ti-ruler-alt:before {
  content: "";
}

.ti-bookmark:before {
  content: "";
}

.ti-bookmark-alt:before {
  content: "";
}

.ti-reload:before {
  content: "";
}

.ti-plus:before {
  content: "";
}

.ti-pin:before {
  content: "";
}

.ti-pencil:before {
  content: "";
}

.ti-pencil-alt:before {
  content: "";
}

.ti-paint-roller:before {
  content: "";
}

.ti-paint-bucket:before {
  content: "";
}

.ti-na:before {
  content: "";
}

.ti-mobile:before {
  content: "";
}

.ti-minus:before {
  content: "";
}

.ti-medall:before {
  content: "";
}

.ti-medall-alt:before {
  content: "";
}

.ti-marker:before {
  content: "";
}

.ti-marker-alt:before {
  content: "";
}

.ti-arrow-up:before {
  content: "";
}

.ti-arrow-right:before {
  content: "";
}

.ti-arrow-left:before {
  content: "";
}

.ti-arrow-down:before {
  content: "";
}

.ti-lock:before {
  content: "";
}

.ti-location-arrow:before {
  content: "";
}

.ti-link:before {
  content: "";
}

.ti-layout:before {
  content: "";
}

.ti-layers:before {
  content: "";
}

.ti-layers-alt:before {
  content: "";
}

.ti-key:before {
  content: "";
}

.ti-import:before {
  content: "";
}

.ti-image:before {
  content: "";
}

.ti-heart:before {
  content: "";
}

.ti-heart-broken:before {
  content: "";
}

.ti-hand-stop:before {
  content: "";
}

.ti-hand-open:before {
  content: "";
}

.ti-hand-drag:before {
  content: "";
}

.ti-folder:before {
  content: "";
}

.ti-flag:before {
  content: "";
}

.ti-flag-alt:before {
  content: "";
}

.ti-flag-alt-2:before {
  content: "";
}

.ti-eye:before {
  content: "";
}

.ti-export:before {
  content: "";
}

.ti-exchange-vertical:before {
  content: "";
}

.ti-desktop:before {
  content: "";
}

.ti-cup:before {
  content: "";
}

.ti-crown:before {
  content: "";
}

.ti-comments:before {
  content: "";
}

.ti-comment:before {
  content: "";
}

.ti-comment-alt:before {
  content: "";
}

.ti-close:before {
  content: "";
}

.ti-clip:before {
  content: "";
}

.ti-angle-up:before {
  content: "";
}

.ti-angle-right:before {
  content: "";
}

.ti-angle-left:before {
  content: "";
}

.ti-angle-down:before {
  content: "";
}

.ti-check:before {
  content: "";
}

.ti-check-box:before {
  content: "";
}

.ti-camera:before {
  content: "";
}

.ti-announcement:before {
  content: "";
}

.ti-brush:before {
  content: "";
}

.ti-briefcase:before {
  content: "";
}

.ti-bolt:before {
  content: "";
}

.ti-bolt-alt:before {
  content: "";
}

.ti-blackboard:before {
  content: "";
}

.ti-bag:before {
  content: "";
}

.ti-move:before {
  content: "";
}

.ti-arrows-vertical:before {
  content: "";
}

.ti-arrows-horizontal:before {
  content: "";
}

.ti-fullscreen:before {
  content: "";
}

.ti-arrow-top-right:before {
  content: "";
}

.ti-arrow-top-left:before {
  content: "";
}

.ti-arrow-circle-up:before {
  content: "";
}

.ti-arrow-circle-right:before {
  content: "";
}

.ti-arrow-circle-left:before {
  content: "";
}

.ti-arrow-circle-down:before {
  content: "";
}

.ti-angle-double-up:before {
  content: "";
}

.ti-angle-double-right:before {
  content: "";
}

.ti-angle-double-left:before {
  content: "";
}

.ti-angle-double-down:before {
  content: "";
}

.ti-zip:before {
  content: "";
}

.ti-world:before {
  content: "";
}

.ti-wheelchair:before {
  content: "";
}

.ti-view-list:before {
  content: "";
}

.ti-view-list-alt:before {
  content: "";
}

.ti-view-grid:before {
  content: "";
}

.ti-uppercase:before {
  content: "";
}

.ti-upload:before {
  content: "";
}

.ti-underline:before {
  content: "";
}

.ti-truck:before {
  content: "";
}

.ti-timer:before {
  content: "";
}

.ti-ticket:before {
  content: "";
}

.ti-thumb-up:before {
  content: "";
}

.ti-thumb-down:before {
  content: "";
}

.ti-text:before {
  content: "";
}

.ti-stats-up:before {
  content: "";
}

.ti-stats-down:before {
  content: "";
}

.ti-split-v:before {
  content: "";
}

.ti-split-h:before {
  content: "";
}

.ti-smallcap:before {
  content: "";
}

.ti-shine:before {
  content: "";
}

.ti-shift-right:before {
  content: "";
}

.ti-shift-left:before {
  content: "";
}

.ti-shield:before {
  content: "";
}

.ti-notepad:before {
  content: "";
}

.ti-server:before {
  content: "";
}

.ti-quote-right:before {
  content: "";
}

.ti-quote-left:before {
  content: "";
}

.ti-pulse:before {
  content: "";
}

.ti-printer:before {
  content: "";
}

.ti-power-off:before {
  content: "";
}

.ti-plug:before {
  content: "";
}

.ti-pie-chart:before {
  content: "";
}

.ti-paragraph:before {
  content: "";
}

.ti-panel:before {
  content: "";
}

.ti-package:before {
  content: "";
}

.ti-music:before {
  content: "";
}

.ti-music-alt:before {
  content: "";
}

.ti-mouse:before {
  content: "";
}

.ti-mouse-alt:before {
  content: "";
}

.ti-money:before {
  content: "";
}

.ti-microphone:before {
  content: "";
}

.ti-menu:before {
  content: "";
}

.ti-menu-alt:before {
  content: "";
}

.ti-map:before {
  content: "";
}

.ti-map-alt:before {
  content: "";
}

.ti-loop:before {
  content: "";
}

.ti-location-pin:before {
  content: "";
}

.ti-list:before {
  content: "";
}

.ti-light-bulb:before {
  content: "";
}

.ti-Italic:before {
  content: "";
}

.ti-info:before {
  content: "";
}

.ti-infinite:before {
  content: "";
}

.ti-id-badge:before {
  content: "";
}

.ti-hummer:before {
  content: "";
}

.ti-home:before {
  content: "";
}

.ti-help:before {
  content: "";
}

.ti-headphone:before {
  content: "";
}

.ti-harddrives:before {
  content: "";
}

.ti-harddrive:before {
  content: "";
}

.ti-gift:before {
  content: "";
}

.ti-game:before {
  content: "";
}

.ti-filter:before {
  content: "";
}

.ti-files:before {
  content: "";
}

.ti-file:before {
  content: "";
}

.ti-eraser:before {
  content: "";
}

.ti-envelope:before {
  content: "";
}

.ti-download:before {
  content: "";
}

.ti-direction:before {
  content: "";
}

.ti-direction-alt:before {
  content: "";
}

.ti-dashboard:before {
  content: "";
}

.ti-control-stop:before {
  content: "";
}

.ti-control-shuffle:before {
  content: "";
}

.ti-control-play:before {
  content: "";
}

.ti-control-pause:before {
  content: "";
}

.ti-control-forward:before {
  content: "";
}

.ti-control-backward:before {
  content: "";
}

.ti-cloud:before {
  content: "";
}

.ti-cloud-up:before {
  content: "";
}

.ti-cloud-down:before {
  content: "";
}

.ti-clipboard:before {
  content: "";
}

.ti-car:before {
  content: "";
}

.ti-calendar:before {
  content: "";
}

.ti-book:before {
  content: "";
}

.ti-bell:before {
  content: "";
}

.ti-basketball:before {
  content: "";
}

.ti-bar-chart:before {
  content: "";
}

.ti-bar-chart-alt:before {
  content: "";
}

.ti-back-right:before {
  content: "";
}

.ti-back-left:before {
  content: "";
}

.ti-arrows-corner:before {
  content: "";
}

.ti-archive:before {
  content: "";
}

.ti-anchor:before {
  content: "";
}

.ti-align-right:before {
  content: "";
}

.ti-align-left:before {
  content: "";
}

.ti-align-justify:before {
  content: "";
}

.ti-align-center:before {
  content: "";
}

.ti-alert:before {
  content: "";
}

.ti-alarm-clock:before {
  content: "";
}

.ti-agenda:before {
  content: "";
}

.ti-write:before {
  content: "";
}

.ti-window:before {
  content: "";
}

.ti-widgetized:before {
  content: "";
}

.ti-widget:before {
  content: "";
}

.ti-widget-alt:before {
  content: "";
}

.ti-wallet:before {
  content: "";
}

.ti-video-clapper:before {
  content: "";
}

.ti-video-camera:before {
  content: "";
}

.ti-vector:before {
  content: "";
}

.ti-themify-logo:before {
  content: "";
}

.ti-themify-favicon:before {
  content: "";
}

.ti-themify-favicon-alt:before {
  content: "";
}

.ti-support:before {
  content: "";
}

.ti-stamp:before {
  content: "";
}

.ti-split-v-alt:before {
  content: "";
}

.ti-slice:before {
  content: "";
}

.ti-shortcode:before {
  content: "";
}

.ti-shift-right-alt:before {
  content: "";
}

.ti-shift-left-alt:before {
  content: "";
}

.ti-ruler-alt-2:before {
  content: "";
}

.ti-receipt:before {
  content: "";
}

.ti-pin2:before {
  content: "";
}

.ti-pin-alt:before {
  content: "";
}

.ti-pencil-alt2:before {
  content: "";
}

.ti-palette:before {
  content: "";
}

.ti-more:before {
  content: "";
}

.ti-more-alt:before {
  content: "";
}

.ti-microphone-alt:before {
  content: "";
}

.ti-magnet:before {
  content: "";
}

.ti-line-double:before {
  content: "";
}

.ti-line-dotted:before {
  content: "";
}

.ti-line-dashed:before {
  content: "";
}

.ti-layout-width-full:before {
  content: "";
}

.ti-layout-width-default:before {
  content: "";
}

.ti-layout-width-default-alt:before {
  content: "";
}

.ti-layout-tab:before {
  content: "";
}

.ti-layout-tab-window:before {
  content: "";
}

.ti-layout-tab-v:before {
  content: "";
}

.ti-layout-tab-min:before {
  content: "";
}

.ti-layout-slider:before {
  content: "";
}

.ti-layout-slider-alt:before {
  content: "";
}

.ti-layout-sidebar-right:before {
  content: "";
}

.ti-layout-sidebar-none:before {
  content: "";
}

.ti-layout-sidebar-left:before {
  content: "";
}

.ti-layout-placeholder:before {
  content: "";
}

.ti-layout-menu:before {
  content: "";
}

.ti-layout-menu-v:before {
  content: "";
}

.ti-layout-menu-separated:before {
  content: "";
}

.ti-layout-menu-full:before {
  content: "";
}

.ti-layout-media-right-alt:before {
  content: "";
}

.ti-layout-media-right:before {
  content: "";
}

.ti-layout-media-overlay:before {
  content: "";
}

.ti-layout-media-overlay-alt:before {
  content: "";
}

.ti-layout-media-overlay-alt-2:before {
  content: "";
}

.ti-layout-media-left-alt:before {
  content: "";
}

.ti-layout-media-left:before {
  content: "";
}

.ti-layout-media-center-alt:before {
  content: "";
}

.ti-layout-media-center:before {
  content: "";
}

.ti-layout-list-thumb:before {
  content: "";
}

.ti-layout-list-thumb-alt:before {
  content: "";
}

.ti-layout-list-post:before {
  content: "";
}

.ti-layout-list-large-image:before {
  content: "";
}

.ti-layout-line-solid:before {
  content: "";
}

.ti-layout-grid4:before {
  content: "";
}

.ti-layout-grid3:before {
  content: "";
}

.ti-layout-grid2:before {
  content: "";
}

.ti-layout-grid2-thumb:before {
  content: "";
}

.ti-layout-cta-right:before {
  content: "";
}

.ti-layout-cta-left:before {
  content: "";
}

.ti-layout-cta-center:before {
  content: "";
}

.ti-layout-cta-btn-right:before {
  content: "";
}

.ti-layout-cta-btn-left:before {
  content: "";
}

.ti-layout-column4:before {
  content: "";
}

.ti-layout-column3:before {
  content: "";
}

.ti-layout-column2:before {
  content: "";
}

.ti-layout-accordion-separated:before {
  content: "";
}

.ti-layout-accordion-merged:before {
  content: "";
}

.ti-layout-accordion-list:before {
  content: "";
}

.ti-ink-pen:before {
  content: "";
}

.ti-info-alt:before {
  content: "";
}

.ti-help-alt:before {
  content: "";
}

.ti-headphone-alt:before {
  content: "";
}

.ti-hand-point-up:before {
  content: "";
}

.ti-hand-point-right:before {
  content: "";
}

.ti-hand-point-left:before {
  content: "";
}

.ti-hand-point-down:before {
  content: "";
}

.ti-gallery:before {
  content: "";
}

.ti-face-smile:before {
  content: "";
}

.ti-face-sad:before {
  content: "";
}

.ti-credit-card:before {
  content: "";
}

.ti-control-skip-forward:before {
  content: "";
}

.ti-control-skip-backward:before {
  content: "";
}

.ti-control-record:before {
  content: "";
}

.ti-control-eject:before {
  content: "";
}

.ti-comments-smiley:before {
  content: "";
}

.ti-brush-alt:before {
  content: "";
}

.ti-youtube:before {
  content: "";
}

.ti-vimeo:before {
  content: "";
}

.ti-twitter:before {
  content: "";
}

.ti-time:before {
  content: "";
}

.ti-tumblr:before {
  content: "";
}

.ti-skype:before {
  content: "";
}

.ti-share:before {
  content: "";
}

.ti-share-alt:before {
  content: "";
}

.ti-rocket:before {
  content: "";
}

.ti-pinterest:before {
  content: "";
}

.ti-new-window:before {
  content: "";
}

.ti-microsoft:before {
  content: "";
}

.ti-list-ol:before {
  content: "";
}

.ti-linkedin:before {
  content: "";
}

.ti-layout-sidebar-2:before {
  content: "";
}

.ti-layout-grid4-alt:before {
  content: "";
}

.ti-layout-grid3-alt:before {
  content: "";
}

.ti-layout-grid2-alt:before {
  content: "";
}

.ti-layout-column4-alt:before {
  content: "";
}

.ti-layout-column3-alt:before {
  content: "";
}

.ti-layout-column2-alt:before {
  content: "";
}

.ti-instagram:before {
  content: "";
}

.ti-google:before {
  content: "";
}

.ti-github:before {
  content: "";
}

.ti-flickr:before {
  content: "";
}

.ti-facebook:before {
  content: "";
}

.ti-dropbox:before {
  content: "";
}

.ti-dribbble:before {
  content: "";
}

.ti-apple:before {
  content: "";
}

.ti-android:before {
  content: "";
}

.ti-save:before {
  content: "";
}

.ti-save-alt:before {
  content: "";
}

.ti-yahoo:before {
  content: "";
}

.ti-wordpress:before {
  content: "";
}

.ti-vimeo-alt:before {
  content: "";
}

.ti-twitter-alt:before {
  content: "";
}

.ti-tumblr-alt:before {
  content: "";
}

.ti-trello:before {
  content: "";
}

.ti-stack-overflow:before {
  content: "";
}

.ti-soundcloud:before {
  content: "";
}

.ti-sharethis:before {
  content: "";
}

.ti-sharethis-alt:before {
  content: "";
}

.ti-reddit:before {
  content: "";
}

.ti-pinterest-alt:before {
  content: "";
}

.ti-microsoft-alt:before {
  content: "";
}

.ti-linux:before {
  content: "";
}

.ti-jsfiddle:before {
  content: "";
}

.ti-joomla:before {
  content: "";
}

.ti-html5:before {
  content: "";
}

.ti-flickr-alt:before {
  content: "";
}

.ti-email:before {
  content: "";
}

.ti-drupal:before {
  content: "";
}

.ti-dropbox-alt:before {
  content: "";
}

.ti-css3:before {
  content: "";
}

.ti-rss:before {
  content: "";
}

.ti-rss-alt:before {
  content: "";
}

/*# sourceMappingURL=style.css.map */
