/*
_base.scss
*******************************************************************************************************************/
/* -----------------------------------------------
0. Foundation
0-1. Base
0-2-1. font family
0-2-2. color management
0-2-3. lightbox
1. Layout
1-1.  .l-wrapper
1-2.  .l-container
2. Object
2-1. Component
2-1-1.  Wrap      [***Wrap]
2-1-4.  Title     [ttl-***]
2-1-5.  Headings  [hdg-***]
2-1-6.  Paragraph [prg-***]
2-1-9.  Button    [btn-***]
2-1-10. Link      [lnk-***]
2-1-15. Card      [crd-***]
2-3. OverLayerConfig [z-index]
-------------------------------------------------- */


/*====================================================================================
[0. Foundation]
====================================================================================*/
//BlakePoint
$bp-ss: 31.25em;   // 500px
$bp-sm: 37.5em;    // 600px
$bp-md: 56.25em;   // 900px
$bp-lg: 68.75em;   // 1100px
$bp-xl: 75em;      // 1200px

//Container Padding
$container-p:15px;

/* -----------------------------------------------
/* 0-1. Base
-------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
html{
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
    background-color: #fff;
    color: #111111;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8;
    width: 100%;
    font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body.is-fix {
    position: fixed;
    width: 100%;
    height: 100%;
}

/*
@media (min-width: 768px) {
    body {
        font-size: 50%;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: 1.4rem;
    }
    body.is-fix {
        position: static;
    }
}
*/

body *,
body *::before,
body *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body .is-fix {
    position: fixed;
    width: 100%;
    height: 100%;
}

a {
    word-break: break-all;
    background-color: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

a:link {
    text-decoration: none;
    color: #111111;
}

a:visited {
    text-decoration: none;
    color:#111111;
}


a:hover, a:active {
    outline-width: 0;
    text-decoration: none;
    color: #111111;
}

a:focus {
    outline-width: 0;
    text-decoration: none;
}

li img, li a, li a img {
    vertical-align: bottom;
}

/* 0-2-1.  font family
-------------------------------------------------- */
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NotoSansJP-Regular.woff2) format("woff2"), url(../fonts/NotoSansJP-Regular.woff) format("woff"), url(../fonts/NotoSansJP-Regular.otf) format("opentype");
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/NotoSansJP-Medium.woff2) format("woff2"), url(../fonts/NotoSansJP-Medium.woff) format("woff"), url(../fonts/NotoSansJP-Medium.otf) format("opentype");
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/NotoSansJP-Bold.woff2) format("woff2"), url(../fonts/NotoSansJP-Bold.woff) format("woff"), url(../fonts/NotoSansJP-Bold.otf) format("opentype");
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/NotoSansJP-Black.woff2) format("woff2"), url(../fonts/NotoSansJP-Black.woff) format("woff"), url(../fonts/NotoSansJP-Black.otf) format("opentype");
}

/* 見出しのみ書体変更 */
.u-ff-oswald, 
.ttl > *::before, 
.ttl-2Lang__side [class*="hdg-"]::before, 
.ttl-2Lang__after [class*="hdg-"]::after {
    font-family: "Oswald",sans-serif;
}

/* 0-2-2.  color management
-------------------------------------------------- */
/* base-color */
$color-b1 : #111111;
$color-b2 : #444444;
$color-b3 : #666666;
$color-g1 : #bdbdbd;

/* thema-color */
$color-t1 : #ff550a;
$color-t1_2 : #fd6301;
$color-t1_3 : #ff9c3b;


/* 0-2-3.  lightbox
-------------------------------------------------- */
/*a[data-lightbox="lb"] {
    position: relative;
    text-decoration: none !important;
    pointer-events: none;
}

a[data-lightbox="lb"]::after {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'fontAwesome';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-rendering: auto;
    line-height: 1;
    content: "\f002";
    color: #fff;
    text-decoration: none !important;
}

@media (min-width: 768px) {
    a[data-lightbox="lb"] {
        pointer-events: auto;
    }
    a[data-lightbox="lb"]::after {
        display: inline-block;
    }
}
*/


/*
_utillity.scss
*******************************************************************************************************************/
/*!
* display
*/ .u-d-n{display:none!important}
.u-d-b{display:block!important}
.u-d-f{display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important;-ms-flex-wrap:wrap;flex-wrap:wrap}
.u-d-if{display:-webkit-inline-box!important;display:-ms-inline-flexbox!important;display:inline-flex!important}
.u-d-i{display:inline!important}
.u-d-ib{display:inline-block!important}/*!

* flex
*/.fxd-r{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.fxd-rr{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}
.fxd-c{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.fxd-cr{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}
.jc-fs{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}
.jc-fe{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}
.jc-c{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.jc-sb{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.jc-sa{-ms-flex-pack:distribute;justify-content:space-around}
.ac-fs{-ms-flex-line-pack:start;align-content:flex-start}
.ac-fe{-ms-flex-line-pack:end;align-content:flex-end}
.ac-c{-ms-flex-line-pack:center;align-content:center}
.ac-sb{-ms-flex-line-pack:justify;align-content:space-between}
.ac-sa{-ms-flex-line-pack:distribute;align-content:space-around}
.ac-s{-ms-flex-line-pack:stretch;align-content:stretch}
.ai-fs{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}
.ai-fe{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}
.ai-s{-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch}
.ai-c{-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.ai-b{-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline}/*!


* row (l-containerのpadding相殺)
*/.row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-$container-p;margin-left:-$container-p;}/*!

* col
*/.row>[class*=col-]{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px} //col同士は余白ないので、内側のpaddingで余白調整
.col{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}
.col-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}
.col-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
.col-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
.col-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
.col-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
.col-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
.col-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
.col-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
.col-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
.col-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
.col-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
.col-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
.col-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}

@media (min-width: $bp-ss){
    .col-ss{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}
    .col-ss-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}
    .col-ss-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
    .col-ss-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
    .col-ss-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
    .col-ss-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
    .col-ss-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
    .col-ss-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
    .col-ss-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
    .col-ss-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
    .col-ss-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
    .col-ss-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
    .col-ss-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
    .col-ss-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
}
@media (min-width: $bp-sm){
    .col-sm{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}
    .col-sm-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}
    .col-sm-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
    .col-sm-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
    .col-sm-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
    .col-sm-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
    .col-sm-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
    .col-sm-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
    .col-sm-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
    .col-sm-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
    .col-sm-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
    .col-sm-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
    .col-sm-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
    .col-sm-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
}
@media (min-width: $bp-md){
    .col-md{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}
    .col-md-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}
    .col-md-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
    .col-md-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
    .col-md-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
    .col-md-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
    .col-md-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
    .col-md-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
    .col-md-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
    .col-md-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
    .col-md-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
    .col-md-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
    .col-md-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
    .col-md-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
}
@media (min-width: $bp-lg){
    .col-lg{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}
    .col-lg-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}
    .col-lg-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
    .col-lg-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
    .col-lg-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
    .col-lg-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
    .col-lg-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
    .col-lg-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
    .col-lg-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
    .col-lg-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
    .col-lg-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
    .col-lg-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
    .col-lg-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
    .col-lg-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
}
@media (min-width: $bp-xl){
    .col-xl{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}
    .col-xl-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}
    .col-xl-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
    .col-xl-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
    .col-xl-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
    .col-xl-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
    .col-xl-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
    .col-xl-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
    .col-xl-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
    .col-xl-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
    .col-xl-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
    .col-xl-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
    .col-xl-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
    .col-xl-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
}

/*!

* margin
*/.u-mt0{margin-top:0!important}
.u-mr0{margin-right:0!important}
.u-mb0{margin-bottom:0!important}
.u-ml0{margin-left:0!important}
.u-mt5{margin-top:5px!important}
.u-mr5{margin-right:5px!important}
.u-mb5{margin-bottom:5px!important}
.u-ml5{margin-left:5px!important}
.u-mt10{margin-top:10px!important}
.u-mr10{margin-right:10px!important}
.u-mb10{margin-bottom:10px!important}
.u-ml10{margin-left:10px!important}
.u-mt15{margin-top:15px!important}
.u-mr15{margin-right:15px!important}
.u-mb15{margin-bottom:15px!important}
.u-ml15{margin-left:15px!important}
.u-mt20{margin-top:20px!important}
.u-mr20{margin-right:20px!important}
.u-mb20{margin-bottom:20px!important}
.u-ml20{margin-left:20px!important}
.u-mt25{margin-top:25px!important}
.u-mr25{margin-right:25px!important}
.u-mb25{margin-bottom:25px!important}
.u-ml25{margin-left:25px!important}
.u-mt30{margin-top:30px!important}
.u-mr30{margin-right:30px!important}
.u-mb30{margin-bottom:30px!important}
.u-ml30{margin-left:30px!important}
.u-mt35{margin-top:35px!important}
.u-mr35{margin-right:35px!important}
.u-mb35{margin-bottom:35px!important}
.u-ml35{margin-left:35px!important}
.u-mt40{margin-top:40px!important}
.u-mr40{margin-right:40px!important}
.u-mb40{margin-bottom:40px!important}
.u-ml40{margin-left:40px!important}
.u-mt45{margin-top:45px!important}
.u-mr45{margin-right:45px!important}
.u-mb45{margin-bottom:45px!important}
.u-ml45{margin-left:45px!important}
.u-mt50{margin-top:50px!important}
.u-mr50{margin-right:50px!important}
.u-mb50{margin-bottom:50px!important}
.u-ml50{margin-left:50px!important}
.u-mt55{margin-top:55px!important}
.u-mr55{margin-right:55px!important}
.u-mb55{margin-bottom:55px!important}
.u-ml55{margin-left:55px!important}
.u-mt60{margin-top:60px!important}
.u-mr60{margin-right:60px!important}
.u-mb60{margin-bottom:60px!important}
.u-ml60{margin-left:60px!important}/*!

* padding
*/.u-pt0{padding-top:0!important}
.u-pr0{padding-right:0!important}
.u-pb0{padding-bottom:0!important}
.u-pl0{padding-left:0!important}
.u-pv0{padding-top:0!important;padding-bottom:0!important}
.u-ph0{padding-right:0!important;padding-left:0!important}
.u-pa0{padding:0!important}
.u-pt5{padding-top:5px!important}
.u-pr5{padding-right:5px!important}
.u-pb5{padding-bottom:5px!important}
.u-pl5{padding-left:5px!important}
.u-pv5{padding-top:5px!important;padding-bottom:5px!important}
.u-ph5{padding-right:5px!important;padding-left:5px!important}
.u-pa5{padding:5px!important}
.u-pt10{padding-top:10px!important}
.u-pr10{padding-right:10px!important}
.u-pb10{padding-bottom:10px!important}
.u-pl10{padding-left:10px!important}
.u-pv10{padding-top:10px!important;padding-bottom:10px!important}
.u-ph10{padding-right:10px!important;padding-left:10px!important}
.u-pa10{padding:10px!important}
.u-pt15{padding-top:15px!important}
.u-pr15{padding-right:15px!important}
.u-pb15{padding-bottom:15px!important}
.u-pl15{padding-left:15px!important}
.u-pv15{padding-top:15px!important;padding-bottom:15px!important}
.u-ph15{padding-right:15px!important;padding-left:15px!important}
.u-pa15{padding:15px!important}
.u-pt20{padding-top:20px!important}
.u-pr20{padding-right:20px!important}
.u-pb20{padding-bottom:20px!important}
.u-pl20{padding-left:20px!important}
.u-pv20{padding-top:20px!important;padding-bottom:20px!important}
.u-ph20{padding-right:20px!important;padding-left:20px!important}
.u-pa20{padding:20px!important}
.u-pt25{padding-top:25px!important}
.u-pr25{padding-right:25px!important}
.u-pb25{padding-bottom:25px!important}
.u-pl25{padding-left:25px!important}
.u-pv25{padding-top:25px!important;padding-bottom:25px!important}
.u-ph25{padding-right:25px!important;padding-left:25px!important}
.u-pa25{padding:25px!important}
.u-pt30{padding-top:30px!important}
.u-pr30{padding-right:30px!important}
.u-pb30{padding-bottom:30px!important}
.u-pl30{padding-left:30px!important}
.u-pv30{padding-top:30px!important;padding-bottom:30px!important}
.u-ph30{padding-right:30px!important;padding-left:30px!important}
.u-pa30{padding:30px!important}
.u-pt35{padding-top:35px!important}
.u-pr35{padding-right:35px!important}
.u-pb35{padding-bottom:35px!important}
.u-pl35{padding-left:35px!important}
.u-pv35{padding-top:35px!important;padding-bottom:35px!important}
.u-ph35{padding-right:35px!important;padding-left:35px!important}
.u-pa35{padding:35px!important}
.u-pt40{padding-top:40px!important}
.u-pr40{padding-right:40px!important}
.u-pb40{padding-bottom:40px!important}
.u-pl40{padding-left:40px!important}
.u-pv40{padding-top:40px!important;padding-bottom:40px!important}
.u-ph40{padding-right:40px!important;padding-left:40px!important}
.u-pa40{padding:40px!important}
.u-pt45{padding-top:45px!important}
.u-pr45{padding-right:45px!important}
.u-pb45{padding-bottom:45px!important}
.u-pl45{padding-left:45px!important}
.u-pv45{padding-top:45px!important;padding-bottom:45px!important}
.u-ph45{padding-right:45px!important;padding-left:45px!important}
.u-pa45{padding:45px!important}
.u-pt50{padding-top:50px!important}
.u-pr50{padding-right:50px!important}
.u-pb50{padding-bottom:50px!important}
.u-pl50{padding-left:50px!important}
.u-pv50{padding-top:50px!important;padding-bottom:50px!important}
.u-ph50{padding-right:50px!important;padding-left:50px!important}
.u-pa50{padding:50px!important}
.u-pt55{padding-top:55px!important}
.u-pr55{padding-right:55px!important}
.u-pb55{padding-bottom:55px!important}
.u-pl55{padding-left:55px!important}
.u-pv55{padding-top:55px!important;padding-bottom:55px!important}
.u-ph55{padding-right:55px!important;padding-left:55px!important}
.u-pa55{padding:55px!important}
.u-pt60{padding-top:60px!important}
.u-pr60{padding-right:60px!important}
.u-pb60{padding-bottom:60px!important}
.u-pl60{padding-left:60px!important}
.u-pv60{padding-top:60px!important;padding-bottom:60px!important}
.u-ph60{padding-right:60px!important;padding-left:60px!important}
.u-pa60{padding:60px!important}

//text-align
.u-ta-l{text-align:left!important}
.u-ta-c{text-align:center!important}
.u-ta-r{text-align:right!important}
.u-ta-j{text-align:justify!important}
.u-va-sup{vertical-align:super!important}
.u-va-t{vertical-align:top!important}.u-va-tt{vertical-align:text-top!important}.u-va-m{vertical-align:middle!important}.u-va-bl{vertical-align:baseline!important}.u-va-tb{vertical-align:text-bottom!important}.u-va-b{vertical-align:bottom!important}.u-va-sub{vertical-align:sub!important}
@media (min-width: $bp-sm){.ta-sm-l{text-align:left!important}.ta-sm-c{text-align:center!important}.ta-sm-r{text-align:right!important}.ta-sm-j{text-align:justify!important}.va-sm-sup{vertical-align:super!important}.va-sm-t{vertical-align:top!important}.va-sm-tt{vertical-align:text-top!important}.va-sm-m{vertical-align:middle!important}.va-sm-bl{vertical-align:baseline!important}.va-sm-tb{vertical-align:text-bottom!important}.va-sm-b{vertical-align:bottom!important}.va-sm-sub{vertical-align:sub!important}}
@media (min-width: $bp-md){.ta-md-l{text-align:left!important}.ta-md-c{text-align:center!important}.ta-md-r{text-align:right!important}.ta-md-j{text-align:justify!important}.va-md-sup{vertical-align:super!important}.va-md-t{vertical-align:top!important}.va-md-tt{vertical-align:text-top!important}.va-md-m{vertical-align:middle!important}.va-md-bl{vertical-align:baseline!important}.va-md-tb{vertical-align:text-bottom!important}.va-md-b{vertical-align:bottom!important}.va-md-sub{vertical-align:sub!important}}
@media (min-width: $bp-lg){.ta-lg-l{text-align:left!important}.ta-lg-c{text-align:center!important}.ta-lg-r{text-align:right!important}.ta-lg-j{text-align:justify!important}.va-lg-sup{vertical-align:super!important}.va-lg-t{vertical-align:top!important}.va-lg-tt{vertical-align:text-top!important}.va-lg-m{vertical-align:middle!important}.va-lg-bl{vertical-align:baseline!important}.va-lg-tb{vertical-align:text-bottom!important}.va-lg-b{vertical-align:bottom!important}.va-lg-sub{vertical-align:sub!important}}
@media (min-width: $bp-xl){.ta-xl-l{text-align:left!important}.ta-xl-c{text-align:center!important}.ta-xl-r{text-align:right!important}.ta-xl-j{text-align:justify!important}.va-xl-sup{vertical-align:super!important}.va-xl-t{vertical-align:top!important}.va-xl-tt{vertical-align:text-top!important}.va-xl-m{vertical-align:middle!important}.va-xl-bl{vertical-align:baseline!important}.va-xl-tb{vertical-align:text-bottom!important}.va-xl-b{vertical-align:bottom!important}.va-xl-sub{vertical-align:sub!important}}
