/*
_components.scss
*******************************************************************************************************************/
/*====================================================================================
[1. Layout]
====================================================================================*/
/* -----------------------------------------------
/* 1-1.  .l-wrapper
-------------------------------------------------- */
.l-wrapper {
    position: relative;
    overflow: hidden;
}

/* -----------------------------------------------
/* 1-7.  .l-container
-------------------------------------------------- */
.l-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    padding-right: $container-p;
    padding-left: $container-p;
    position: relative;
}

.l-container--fluid {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    position: relative;
}

/*====================================================================================
[2. Object]
====================================================================================*/
/* -----------------------------------------------
/* 2-1. Component
-------------------------------------------------- */
/* 2-1-1.  Wrap      [***Wrap]
-------------------------------------------------- */

[class*="Wrap"] {padding: 20px 0;}

@media (min-width: $bp-md) {[class*="Wrap"] {padding: 45px 0;}}
@media (min-width: $bp-lg) {[class*="Wrap"] {padding: 75px 0;}}

/* 2-1-6.  Paragraph [prg-***]
-------------------------------------------------- */
[class*="prg-"] {padding-top: 7.5px; line-height: 2.0;}
[class*="prg-"] p + p { margin-top: 7.5px;}

.prg-xl {font-size: 2.0rem; line-height: 1.2;}
.prg-l  {font-size: 1.8rem; line-height: 1.2;}
.prg-m  {font-size: 1.5rem; line-height: 1.8;}
.prg-s  {font-size: 1.3rem; line-height: 1.8;}
.prg-xs {font-size: 1.1rem; line-height: 1.5;}

/* @media (max-width: 767px) {
    [class*="prg-"] .richtext p br {
        display: none;
    }
}

@media (min-width: 768px) {
    [class*="prg-"] {
        padding-top: 15px;
        line-height: 2.0;
    }
    [class*="prg-"] p + p {
        margin-top: 15px;
    }
    .prg-xl {
        font-size: 1.8rem;
        line-height: 1.2;
    }
    .prg-l {
        font-size: 1.6rem;
        line-height: 1.5;
    }
    .prg-m {
        font-size: 1.4rem;
        line-height: 1.8;
    }
    .prg-s {
        font-size: 1.3rem;
        line-height: 1.8;
    }
    .prg-xs {
        font-size: 1.1rem;
        line-height: 1.5;
    }
}

@media (min-width: 992px) {
    .prg-xl {
        font-size: 2.4rem;
    }
    .prg-l {
        font-size: 1.8rem;
    }
    .prg-m {
        font-size: 1.6rem;
    }
    .prg-s {
        font-size: 1.4rem;
    }
    .prg-xs {
        font-size: 1.1rem;
        line-height: 1.5;
    }
}

[class*="prg-"] .richtext p a {
    text-decoration: underline;
} */



/* -----------------------------------------------
/* 2-1. Component
-------------------------------------------------- */
/* 2-1-4.  Title     [ttl-***]
-------------------------------------------------- */
/*
デザインは以下サイトからコピペ
https://jajaaan.co.jp/css/css-headline/
*/

/* 構文 */

.ttl {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #333;
    
    & > [class*="hdg-"] {
        font-weight:bold;
        line-height: 1.1;
    }
}


/* --double */

.ttl--double {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #666;
    
    & > [class*="hdg-"] {
        font-weight:bold;
        line-height: 1.1;
    }
    
    & > *::before {
        content: "";
        display: block;
        margin-bottom: 1rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.1;
        text-transform: uppercase;
        color: #ff550a;
    }
}

// section単位でcontentのみ上書
#b-ttlSam .ttl--double > *::before{content: "test";}



/* --border */

.ttl--border {
    margin-bottom: 3rem;
    padding: 1rem 2rem;
    border-left: 5px solid #000;
    background: #f4f4f4;
}


/* --tag */

.ttl--tag {
    margin-bottom: 3rem;
    position: relative;
    display: inline-block;
    height: 64px;
    margin-left: 30px;
    padding: 1rem 2rem 1rem 3rem;
    color: #fff;
    background: #fa4141;
    
    &:before {
        position: absolute;
        top: 0;
        left: -30px;
        content: '';
        border-width: 32px 30px 32px 0;
        border-style: solid;
        border-color: transparent #fa4141 transparent transparent;
    }
    
    &:after {
        position: absolute;
        top: calc(50% - 7px);
        left: -10px;
        width: 14px;
        height: 14px;
        content: '';
        border-radius: 50%;
        background: #fff;
    }
}



/* 2-1-5.  Headings  [hdg-***]
-------------------------------------------------- */
.hdg-0 {font-size: 3.6rem;}
.hdg-1 {font-size: 3.2rem;}
.hdg-2 {font-size: 2.4rem;}
.hdg-3 {font-size: 2.0rem;}
.hdg-4 {font-size: 1.8rem;}
.hdg-5 {font-size: 1.6rem;}
.hdg-6 {font-size: 1.4rem;}

@media (min-width: 576px) {
    .hdg-0 {font-size: 3.6rem;}
    .hdg-1 {font-size: 3.2rem;}
    .hdg-2 {font-size: 2.4rem;}
    .hdg-3 {font-size: 2.0rem;}
    .hdg-4 {font-size: 1.8rem;}
    .hdg-5 {font-size: 1.6rem;}
    .hdg-6 {font-size: 1.4rem;}
}

@media (min-width: 768px) {
    .hdg-0 {font-size: 3.6rem;}
    .hdg-1 {font-size: 3.2rem;}
    .hdg-2 {font-size: 2.4rem;}
    .hdg-3 {font-size: 2.0rem;}
    .hdg-4 {font-size: 1.8rem;}
    .hdg-5 {font-size: 1.6rem;}
    .hdg-6 {font-size: 1.4rem;}
}

/* 2-1-9.  Button    [btn-***]
-------------------------------------------------- */
.wrap-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.btn {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-user-select: none;
}

//btn--prim
.btn--prim {
    min-width: 20rem;
    height: 5rem;
    border: 2px solid #111;
    color: #111;
    
    //アイコン
    & > span {
        position: absolute;
        top: 0;
        bottom: 0;
        right: .7rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 1.2rem;
    }
}
//btn--prim:hover
.btn--prim {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition: all .1s;
    transition: all .1s;
    
    &::before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all .1s;
        transition: all .1s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover{color:#fff;}
    &:hover > span{color:#fff;}
    &:hover::before{transform: scale(1);}
}



/* 2-1-10. Link      [lnk-***]
-------------------------------------------------- */

/* textLink + > icon  */
.lnk-txt {
    display: inline-block;
    color: #cf1800;
    
    & > a {
        display: block;
        color: inherit;
    }
    
    & [class*="ti-"] {
        margin-left: 5px;
        font-size: 1.1rem;
        color: inherit;
    }
}

/* --border-bottom */
.lnk-txt--bdr{
    width: 100%;
    text-align: right;
    border-bottom: 1px solid #7c0aff;
}


/* 2-1-15. Card      [crd-***]
-------------------------------------------------- */
.crd {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin-bottom: 1.5rem;
    height: calc(100% - 15px);
    background-color: #fff;
    border: 3px solid #f1f1f1;
}

.crd__img {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000;
}

.crd__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem;
}

.crd__img {
    /*padding-top: 33.3333%;*/
    /* 3:1 */
    /*padding-top: 40%;*/
    /* 5:2 */
    /*padding-top: 50%;*/
    /* 2:1 */
    /*padding-top: 56.25%;*/
    /* 16:9; */
    padding-top: 66.66667%;
    /* 3:2 */
    /*padding-top: 75%;*/
    /* 4:3 */
    /*padding-top: 200%;*/
    /* 1:2 */
}

.crd__ttl {
    margin-bottom: .8rem;
}

.crd__txt {
    margin-bottom:1.5rem;
}


@media (max-width: $bp-sm) {
    .crd__img {
        /*padding-top: 33.3333%;*/
        /* 3:1 */
        padding-top: 40%;
        /* 5:2 */
        /*padding-top: 50%;*/
        /* 2:1 */
        /*padding-top: 56.25%;*/
        /* 16:9; */
        /*padding-top: 66.66667%;*/
        /* 3:2 */
        /*padding-top: 75%;*/
        /* 4:3 */
        /*padding-top: 200%;*/
        /* 1:2 */
    }
}


/* -----------------------------------------------
/* 2-3. OverLayerConfig [z-index]
-------------------------------------------------- */

/* 記述の参考として */

/* .l-loader {
    z-index: 2001;
}

.g-header {
    z-index: 2000;
}

.l-header {
    z-index: 2001;
}

.logo {
    z-index: 2002;
}

.l-mark {
    z-index: 5000;
}

.g-nav, .l-nav {
    z-index: 4000;
}

.globalNav__bg {
    z-index: 4001;
}

.globalNav__content {
    z-index: 4002;
}

.subNav {
    z-index: 1000;
}

.g-footer {
    z-index: 1000;
}

.l-footer {
    z-index: 1001;
}

.g-main,
.l-main {
    z-index: 100;
}

.l-content {
    z-index: 102;
}

.mainImgWrap {
    z-index: 101;
} */



/* -----------------------------------------------
/* 2-3. Headr []
-------------------------------------------------- */
.l-header{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(45, 37, 27, 0.88);
    
    .header__content{
        height: 100%;
        margin: 0 auto;
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        justify-content: space-between;
    }
}



/* Logo */
.logo {
    height: 100%;
    line-height: 1;
    display: flex;
    align-items: center;
    
    & > a > img {
        width: auto; 
        height: 40px;
    }
}


/* Navigation */
.l-nav {
    position: fixed;
    right: 0;
    top: 60px; // l-headerのheight分下げる
    width: 100%;
    bottom: 0;
}

/* globalNav */
.globalNav{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;  
    display: flex;
    justify-content: flex-end;
    
    &__content{
        opacity: 0;
        visibility: hidden;
        z-index: 200;
        max-width: 400px;
        -webkit-perspective: 500px;
        perspective: 500px;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transition-duration: .6s;
        transition-duration: .6s;
        -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    &__bg {
        z-index: 90;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
    }
}

/* case: body.is-fix */
body.is-fix .globalNav__content {
    opacity: 1;
    visibility: visible;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

body.is-fix .globalNav__bg {
    opacity: 1;
    cursor: pointer;
    
}

/* gNav (メインナビ) */
.gNav {
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #fff;
    
    /* sub */
    &__sub {
        order: 1;
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
    }
    
    /* item */
    &__item {
        position: relative;
        border-top: 1px solid #e5e6e6;
    }
    
    &__item--sub {
        width: 50%;
    }    
}


/* sNav (トグル内ナビ) */
.sNav {
    background-color: #f5f5f5;
    
    &__item {
        border-top: 1px dashed #bdbdbd;
    }
}

/* *Nav common (aタグの共通スタイル) */
.gNav__lnk--main,
.gNav__lnk--sub,
.sNav__lnk{
    display: flex;
    align-items: center;
    height: 45px;
    padding-left: 15px;
}


/* トグル */
.gNav__lnk--toggle::before {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "\e61a";
    font-family: 'themify';
    font-size: 1.1rem;
    height: 45px;
    width: 45px;
    background-color: #bdbdbd;
}

/* case: .gNav__lnk--toggle.is-active */
.gNav__lnk--toggle.is-active::before {
    content: "\e622";
    background: #eee;
}



/* l-mark */
.l-mark{
    z-index: 200;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    width: 49px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 5px;
    transition: 0.3s;
}

.mark{
    margin-top: 3px;
}

.markMenu{
    width: 100%;
    height: 2rem;
    position: relative;
    
    &__middle,
    &__top,
    &__bottom {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -12px;
        width: 24px;
        height: 2px;
        background-color: #fff;
        -webkit-transition-duration: .1s;
        transition-duration: .1s;
    }
}

/* case: body.is-fix */
.markMenu__top{margin-top: -9px;}
.mark.is-active .markMenu__top {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px);
}
.markMenu__middle{margin-top: -2px;}
.mark.is-active .markMenu__middle {
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    opacity: 0;
}
.markMenu__bottom{margin-top: 5px;}
.mark.is-active .markMenu__bottom {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
    transform: rotate(-45deg) translate(5px, -5px);
}











.styleTest{color: red;}