/*
_card.scss
*******************************************************************************************************************/
/* -----------------------------------------------
/* Card      [crd-***]
-------------------------------------------------- */

/* crd-design
-------------------------------------------------- */
.crd-design {
    overflow: hidden;
    @include fxcol;
    position: relative;
    margin-bottom: 15px;
    height: calc(100% - 15px);
    border: 3px solid;
    border-color: $color-g2;
    border-radius: 10px;
    background-color: #fff;
    
    &__header{
        padding: 5px 0;
        text-align: center;
        font-size: 1.6rem;
        color: #fff;
        background-color: #373737;
    }
    
    &__content {
        padding: 15px;
    }
    
    &__btn {
        padding: 10px;
        border-top: 2px dotted $color-g2;
        
        a{
            display: inline-block;
            margin: 10px 0;
            margin-right: 30px;
            color: blue; 
            text-decoration: underline;
            
            &:hover{
                color: $color-t1;
                text-decoration: underline;
            }
        }
    }
    
    &__image {
        overflow: hidden;
        max-height: 800px;
        padding: 15px;
        
        img{
            width: 100%;
            border: 2px solid $color-g1;
        }
    }
}

@media (min-width: $bp-md) {  
    .crd-design {
        &__header{
            font-size: 1.8rem;
        }
    }
}

/* crd-details
-------------------------------------------------- */
.crd-details {
    overflow: hidden;
    @include fxcol;
    position: relative;
    margin-bottom: 15px;
    height: calc(100% - 15px);
    border: 3px solid;
    border-color: $color-g2;
    border-radius: 10px;
    background-color: #fff;
    
    a:hover{
        opacity: .8;
        border-color: $color-t1;
    }
    
    &__image {
        overflow: hidden;
        padding: 5px;
        
        img{
            width: 100%;
            border: 2px solid $color-g1;
        }
    }
    
    &__header{
        padding: 5px 0;
        text-align: center;
        font-size: 1.6rem;
        color: #fff;
        background-color: #373737;
    }
    
    &__content {
        padding: 15px; 
    }
    
    &__ttl {         
        width: 100%;
        padding: 5px 0;
        margin-bottom: 15px;
        text-align: center;
        border-radius: 3px;
        background-color: $color-g2;
    }
    
    &__txt{
        p{
            padding: 5px;
        }
        
        [class*="col-"]{
            margin-bottom: 20px;
        }
    }
}

@media (min-width: $bp-md) {  
    .crd-plan {
        &__header{
            font-size: 1.8rem;
        }
    }
}


/* directionTag
-------------------------------------------------- */
.directionTag{
    @include fxrow;
    @include --fxwrap;
    margin-bottom: 20px;
    
    &__lnk{
        padding: 5px 10px;
        color: blue !important;
        
        &:hover{
            color: $color-t1 !important;
            text-decoration: underline;
        }
    }
}

.directionTag-active{
    color: $color-t1 !important;
    font-weight: 700;
}

/* crd-direction
-------------------------------------------------- */
.crd-direction {
    overflow: hidden;
    @include fxcol;
    position: relative;
    margin-bottom: 15px;
    padding: 5px;
    height: calc(100% - 15px);
    border: 2px solid;
    border-color: $color-g2;
    background-color: #fff;
    
    &__image {
        overflow: hidden;
        max-height: 300px;
        
        img{
            width: 100%;
            border: 1px solid $color-g1;
        }
    }
    
    &__ttl{
        padding: 5px 10px;
        color: blue !important;
    }
    
    &:hover{
        opacity: .8;
        border-color: $color-t1;
    }
    &:hover &__ttl{
        color: $color-t1 !important;
        text-decoration: underline;
    }
}

/* crd-coding
-------------------------------------------------- */
.crd-coding {
    overflow: hidden;
    @include fxcol;
    position: relative;
    margin-bottom: 15px;
    height: calc(100% - 15px);
    border: 3px solid;
    border-color: $color-g2;
    border-radius: 10px;
    background-color: #fff;
    
    &__header{
        padding: 5px 0;
        text-align: center;
        font-size: 1.6rem;
        color: #fff;
        background-color: #373737;
    }
    
    &__content {
        padding: 15px;
        
        p{
            margin-bottom: 10px;
        }
        
        a{
            display: inline-block;
            color: blue; 
            text-decoration: underline;
            
            &:hover{
                color: $color-t1;
                text-decoration: underline;
            }
        }
    }
}

@media (min-width: $bp-md) {  
    .crd-design {
        &__header{
            font-size: 1.8rem;
        }
    }
}
