/*
_link.scss
*******************************************************************************************************************/
/* -----------------------------------------------
/* Link      [lnk-***] 
-------------------------------------------------- */

/* .lnk-txt--**
-------------------------------------------------- */
.lnk-txt--thema,
.lnk-txt--subNav,
.lnk-txt--mainNav,
.lnk-txt--footer {
    display: inline-block;
    color: inherit;
    -webkit-transition: all .2s;
    transition: all .2s;
    
    & > a {
        display: block;
        color: inherit;
    }
    
    &::after{
        content: "";
        display:block;
        top:0;
        left:0;
        width: 100%;
        height: 3px;
        background-color: $color-t1;
        border-radius: 5px;
        @include transform-scX(0);
        @include transition(.15s);
    }
    
    &:hover::after{
        @include transform-scX(1);
    }
    
    & [class*="ti-"] {
        margin-left: 5px;
        color: $color-t1;
        font-size: 1.1rem;
    }  
}

/* Nav */
.lnk-txt--subNav{
    color: $color-b1;
}

.lnk-txt--mainNav{
    color: $color-b1;
    
    &:hover{
        border-bottom: 3px solid currentColor;
    }
}

/* thema */
.lnk-txt--thema{
    color: $color-t1;
}

/* black */
.lnk-txt--black{
    color: $color-b1;
    
    &:hover{
        border-bottom: 1px solid currentColor;
    }
}

/* tel */
.lnk-txt--tel{
    color: #fff;
    
    &:hover{
        opacity: .7;
    }
}

/* tag */
.lnk-txt--methodTag{
    padding: 5px 10px;
    color: $color-b1;
    border: 2px solid currentColor;
    border-radius: 5px;
}

/* footer */
.lnk-txt--footer{
    display: inline-block;
    color: #fff;
    margin-left: 0;
    
    & span {
        margin-right: .5rem;
        color: $color-t1;
        font-weight: bold;
    }
}



/* -----------------------------------------------
/* Button    [btn-***]
-------------------------------------------------- */
/*  wrap-btn
-------------------------------------------------- */
.wrap-btn {
    @include fxrow-jc;
    width: 100%;
    margin-top: 30px;
}

@media (min-width: $bp-sm) {
    .wrap-btn {
        margin-top: 5rem;
    }
}

/*  btn-type
-------------------------------------------------- */

.btnPrim--header,
.btnPrim--headerSP,
.btnPrim--white,
.btnPrim--thema,
.btnPrim--plan-red,
.btnPrim--plan-grey,
.btnPrim--contact {
    @include infxrow-ac-jc;
    -webkit-user-select: none;
    position: relative;
    min-width: 270px;
    height: 55px;
    border-radius: 15px;
    border-bottom: solid 4px;
    color: currentColor;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    @include transition(.1s);
    
    &:hover{
        opacity: .8;
        @include transform-trY(1px);
    }
    
    &:active{
        border-bottom: none;
    }
}

/* header */
.btnPrim--header {
    min-width: 200px;
    height: 48px; 
    color: $color-b1 !important;
    background-color: $color-s1;
    border-color: #d39906;
    
    &SP{
        min-width: 60px;
        height: 60px; 
    }
}

.btnPrim--headerSP {
    z-index: 200;
    position: absolute;
    top: 8px;
    right: 80px;
    width: 160px;
    height: 45px;
    font-size: 1.4rem;
    background-color: $color-s1;
    border-color: #d39906;
}
@media (min-width: $bp-md){
    .btnPrim--headerSP {
        display: none;
    }
}

/* white */
.btnPrim--white {
    color: $color-t1 !important;
    background-color: #fff;
    border: 4px solid $color-t1;
    
    &:hover{
        color: #fff !important;
        background-color: $color-t1;
    }
}

@media (min-width: $bp-md){
    .btnPrim--white {
        color: $color-t1 !important;
        background-color: #fff;
        border: 4px solid $color-t1;
        margin-bottom: 10px;
    }
}

/* thema */
.btnPrim--thema {
    background-color: $color-t1;
    border-color: #65010d;
    
    a {color: #fff !important;}
}

/* contact */
.btnPrim--contact {
    min-width: 345px;
    height: 70px; 
    font-size: 2.8rem;
    color: $color-b1 !important;
    background-color: $color-s1;
    border-color: #d39906;
}

/* plan */
.btnPrim--plan { 
    &-red{
        min-width: 325px;
        color: #fff !important;
        background-color: $color-t1;
        border-color: #65010d;
    }
    
    &-grey{
        height: 40px;
        color: #fff !important;
        background-color: #404040;
        border-color: #111;
    }
}
