/*
_link.scss
*******************************************************************************************************************/
/* -----------------------------------------------
/* Link      [lnk-***] 
-------------------------------------------------- */
/* mvBtn
-------------------------------------------------- */
.mvbtnContainer{
    @include fxrow;
    @include --fxwrap;
    
    div{
        width: 33%;
        padding-top: 10px;
    }
    div:not(:last-child){
        padding-right: 10px;
    }
    div:first-child{
        width: 100%;
    }
}

.mvBtn--design,
.mvBtn--programming,
.mvBtn--direction,
.mvBtn--blog{
    display: inline-block;
    @include fxrow-ac-jsb;
    padding: 15px;
    border-radius: 5px;
    color: #fff !important;
    
    &:hover{opacity: .8;}
}

.mvBtn--design{
    background-color: $color-design;
    padding: 30px 15px;
}
.mvBtn--programming{background-color: $color-programming;}
.mvBtn--direction{background-color: $color-direction;}
.mvBtn--blog{background-color: $color-blog;}



/* .lnk-txt--**
-------------------------------------------------- */
.lnk-txt--thema,
.lnk-txt--subNav,
.lnk-txt--mainNav,
.lnk-txt--megaNav,
.lnk-txt--footer {
    display: inline-block;
    color: inherit;
    -webkit-transition: all .2s;
    transition: all .2s;
    
    & > a {
        display: block;
        color: inherit;
    }
    
    &::after{
        content: "";
        display:block;
        top:0;
        left:0;
        width: 100%;
        height: 3px;
        background-color: $color-t1;
        border-radius: 5px;
        @include transform-scX(0);
        @include transition(.15s);
    }
    
    &:hover::after{
        @include transform-scX(1);
    }
    
    & [class*="ti-"] {
        margin-left: 5px;
        color: $color-t1;
        font-size: 1.1rem;
    }  
}

/* Nav */
.lnk-txt--subNav{
    color: $color-b1;
}

.lnk-txt--mainNav{
    color: $color-b1;
    
    &:hover{
        border-bottom: 3px solid currentColor;
    }
}

.lnk-txt--megaNav{
    color: #fff !important;
    span{color: $color-t1 !important;}
}

/* thema */
.lnk-txt--thema{
    color: $color-t1 !important;
    margin-bottom: 5px;
}



/* -----------------------------------------------
/* Button    [btn-***]
-------------------------------------------------- */
/*  wrap-btn
-------------------------------------------------- */
.wrap-btn {
    @include fxrow-jc;
    width: 100%;
    margin-top: 30px;
}

@media (min-width: $bp-sm) {
    .wrap-btn {
        margin-top: 5rem;
    }
}

/*  btn-type
-------------------------------------------------- */

.btnPrim--white,
.btnPrim--thema,
.btnPrim--design-red,
.btnPrim--design-grey,
.btnPrim--contact {
    @include infxrow-ac-jc;
    -webkit-user-select: none;
    position: relative;
    min-width: 270px;
    height: 55px;
    border-radius: 15px;
    border-bottom: solid 4px;
    color: currentColor;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    @include transition(.1s);
    
    &:hover{
        opacity: .8;
        @include transform-trY(1px);
    }
    
    &:active{
        border-bottom: none;
    }
}



/* white */
.btnPrim--white {
    color: $color-t1 !important;
    background-color: #fff;
    border: 4px solid $color-t1;
    
    &:hover{
        color: #fff !important;
        background-color: $color-t1;
    }
}

@media (min-width: $bp-md){
    .btnPrim--white {
        color: $color-t1 !important;
        background-color: #fff;
        border: 4px solid $color-t1;
        margin-bottom: 10px;
    }
}

/* thema */
.btnPrim--thema {
    background-color: $color-t1;
    border-color: #65010d;
    color: #fff !important;
}

/* contact */
.btnPrim--contact {
    width: 100%;
    height: 70px; 
    font-size: 2.8rem;
    color: $color-b1 !important;
    background-color: $color-s1;
    border-color: #d39906;
}

/* design */
.btnPrim--design { 
    &-red{
        width: 100%;
        height: 40px;
        color: #fff !important;
        background-color: $color-t1;
        border-color: #65010d;
    }
    
    &-grey{
        width: 100%;
        height: 40px;
        color: #fff !important;
        background-color: #404040;
        border-color: #111;
    }
}
