/*
_link.scss
*******************************************************************************************************************/
/* Link      [lnk-***]
-------------------------------------------------- */

/* textLink + > icon  */
.lnk-txt {
    display: inline-block;
    color: inherit;
    
    & > a {
        display: block;
        color: inherit;
    }
    
    & [class*="ti-"] {
        margin-left: 5px;
        font-size: 1.1rem;
        color: inherit;
    }
}

/* --border-bottom */
.lnk-txt--bdr{
    width: 100%;
    text-align: right;
    border-bottom: 1px solid currentColor;
}


/*  Button    [btn-***]
-------------------------------------------------- */
.wrap-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.btn {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-user-select: none;
}

@media (min-width: $bp-sm) {
    .wrap-btn {
        margin-top: 50px;
        
    }
}

//btn--prim
.btn--prim {
    min-width: 20rem;
    height: 5rem;
    border: 2px solid #111;
    color: #111;
    
    //icon
    & > span {
        position: absolute;
        top: 0;
        bottom: 0;
        right: .7rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 1.2rem;
    }
}
//btn--prim:hover
.btn--prim {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition: all .1s;
    transition: all .1s;
    
    &::before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all .1s;
        transition: all .1s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover{color:#fff;}
    &:hover > span{color:#fff;}
    &:hover::before{transform: scale(1);}
}

