/*
_link.scss
*******************************************************************************************************************/
/* -----------------------------------------------
/* Link      [lnk-***] 
-------------------------------------------------- */

/* .lnk-txt--**
-------------------------------------------------- */
.lnk-txt--thema,
.lnk-txt--white,
.lnk-txt--footer {
    display: inline-block;
    color: inherit;
    -webkit-transition: all .1s;
    transition: all .1s;
    
    & > a {
        display: block;
        color: inherit;
    }
    
    & [class*="ti-"] {
        margin-left: 5px;
        font-size: 1.1rem;
    }
    
    &:hover {
        -webkit-transform:translateX(.2rem);
        transform:translateX(.2rem);
    }
}

.lnk-txt--thema{
    color: $color-t1;
    text-align: right;
    border-bottom: 1px solid $color-t1;
}

.lnk-txt--white{
    color: #fff;
    text-align: right;
    border-bottom: 1px solid #fff;
}

.lnk-txt--footer{
    display: block;
    color: $color-b1;
    margin-left: 0;
    
    & span {
        margin-right: .5rem;
        color: $color-t1;
        font-weight: bold;
    }
}



/* -----------------------------------------------
/* Button    [btn-***]
-------------------------------------------------- */
/*  wrap-btn
-------------------------------------------------- */
.wrap-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

@media (min-width: $bp-sm) {
    .wrap-btn {
        margin-top: 5rem;
    }
}

/*  btn-type
-------------------------------------------------- */
.btn-prim--thema,
.btn-prim--white {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-user-select: none;
    color: currentColor;
    min-width: 300px;
    height: 75px;
    border: 4px solid;
    font-weight: bold;
    letter-spacing: .1rem;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition: all .1s;
    transition: all .1s;
    
    /* icon */
    & > span {
        position: absolute;
        top: 0;
        bottom: 0;
        right: .7rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 1.4rem;
    } 
    
    /* effect */
    &::before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all .1s;
        transition: all .1s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
}

.btn-prim--thema {  
    color: #fff !important;
    
    /* effect */
    &::before{
        background: $color-t1;
    }
    &:hover{
        color: $color-t1 !important;
        border-color: #fff;
    }
    &:hover > span{
        color: $color-t1;
    }
    &:hover::before{
        background: #fff;
        transform: scale(1);
    } 
}

.btn-prim--white{
    color: $color-t1 !important;
    
    /* effect */
    &::before{
        background: #fff;
    }
    &:hover{
        color: #fff !important;
        border-color: #fff;
    }
    &:hover > span{
        color: #fff;
    }
    &:hover::before{
        background: $color-t1;
        transform: scale(1);
    }   
}
