/*
_typography.scss
*******************************************************************************************************************/

/* -----------------------------------------------
/* Paragraph  [prg-***]
-------------------------------------------------- */
[class*="prg-"] {padding-top: 7.5px; line-height: 2.0;}
[class*="prg-"] p + p { margin-top: 75px;}
.prg-xl {font-size: 1.8rem;line-height: 1.2;}
.prg-l {font-size: 1.6rem;line-height: 1.5;}
.prg-m {font-size: 1.4rem;line-height: 1.8;}
.prg-s {font-size: 1.3rem;line-height: 1.8;}
.prg-xs {font-size: 1.1rem;line-height: 1.5;}

[class*="prg-"] .richtext p a {
    text-decoration: underline;
}

@media (min-width: $bp-md) {
    [class*="prg-"] {padding-top: 15px;line-height: 2.0;}
    [class*="prg-"] p + p {margin-top: 15px;}
    .prg-xl {font-size: 2.0rem; line-height: 1.2;}
    .prg-l  {font-size: 1.8rem; line-height: 1.2;}
    .prg-m  {font-size: 1.5rem; line-height: 1.8;}
    .prg-s  {font-size: 1.3rem; line-height: 1.8;}
    .prg-xs {font-size: 1.1rem; line-height: 1.5;}
}

@media (max-width: $bp-md) {
    [class*="prg-"] .richtext p br {display: none;}
}


/* -----------------------------------------------
/* Title    [ttl-***]
-------------------------------------------------- */

/* ttl-lvl2
-------------------------------------------------- */
.ttl-lvl2 {
    padding-top: 0;
    padding-bottom: 20px;
    text-align: center;
    
    & > [class*="hdg-"] {
        font-weight:700;
        line-height: 1.4;
    }
}

@media (min-width: $bp-md) {
    .ttl-lvl2 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

/* ttl-lvl3
-------------------------------------------------- */
.ttl-lvl3 {
    padding-top: 0;
    padding-bottom: 15px;
    text-align: left;
    
    & > [class*="hdg-"] {
        font-weight:600;
        line-height: 1.3;
    }
}

@media (min-width: $bp-sm) {
    .ttl-lvl3 {
        &  br {
            display: none;
        }
    }
}

@media (min-width: $bp-md) {
    .ttl-lvl3 {
        padding-bottom: 30px;
    }
}

/* ttl-lvl4
-------------------------------------------------- */
.ttl-lvl4,
.ttl-lvl4--external,
.ttl-lvl4--footer {
    padding-top: 0;
    padding-bottom: 10px;
    
    & > [class*="hdg-"] {
        font-weight:bold;
        line-height: 1.1;
    }
}

.ttl-lvl4--footer{
    & > [class*="hdg-"] {
        width: 100%;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 2.5;
        border-bottom: 4px dotted $color-g1;
    }
}

.ttl-lvl4--external{
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding:10px 0;
    padding-left: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: $color-g2;
    border-radius: 2px;
    
    & span {
        font-size: 1.7rem;
        margin-right: 10px;
    } 
}

@media (min-width: $bp-md) {
    .ttl-lvl4 {
        padding-bottom: 15px;
    }
}



/* -----------------------------------------------
/* Headings  [hdg-***]
-------------------------------------------------- */
.hdg-0 {font-size: 4.0rem;}
.hdg-1 {font-size: 3.5rem;}
.hdg-2 {font-size: 3.0rem;}
.hdg-3 {font-size: 2.5rem;}
.hdg-4 {font-size: 1.6rem;}

@media (min-width: $bp-md) {
    .hdg-0 {font-size: 4.5rem;}
    .hdg-1 {font-size: 4.0rem;}
    .hdg-2 {font-size: 3.5rem;}
    .hdg-3 {font-size: 2.5rem;}
    .hdg-4 {font-size: 1.6rem;}
}
