/*
_typography.scss
*******************************************************************************************************************/

/* -----------------------------------------------
/* Paragraph  [prg-***]
-------------------------------------------------- */
[class*="prg-"] {padding: 7.5px 0;}
[class*="prg-"] p + p { margin-top: 7.5px;}
.prg-xl {font-size: 1.8rem;line-height: 1.2;}
.prg-l {font-size: 1.6rem;line-height: 1.5; font-weight: 500;}
.prg-m {font-size: 1.4rem;line-height: 1.8;}
.prg-s {font-size: 1.3rem;line-height: 1.8;}
.prg-xs {font-size: 1.1rem;line-height: 1.5;}

[class*="prg-"] .richtext p a {
    text-decoration: underline;
}

@media (min-width: $bp-md) {
    [class*="prg-"] {padding: 15px 0;}
    [class*="prg-"] p + p {margin-top: 15px;}
    .prg-xl {font-size: 2.0rem; line-height: 1.2;}
    .prg-l  {font-size: 1.8rem; line-height: 1.2; font-weight: 600;}
    .prg-m  {font-size: 1.5rem; line-height: 1.8;}
    .prg-s  {font-size: 1.3rem; line-height: 1.8;}
    .prg-xs {font-size: 1.1rem; line-height: 1.5;}
}

@media (max-width: $bp-md) {
    [class*="prg-"] .richtext p br {display: none;}
}

/* effect */
.prg-bg{
    &--subColor{
        background-color: $color-s1;
    }
}

.prg-line{
    &--whiteColor{
        border-bottom: 1px solid #fff;
    }
    &--subColor{
        border-bottom: 2px solid $color-s1;
    }
}

@media (min-width: $bp-md) {
    .prg-line{
        &--subColor{
            border-bottom: 3px solid $color-s1;
        }
    }
}


/* -----------------------------------------------
/* Title    [ttl-***]
-------------------------------------------------- */

/* ttl-lvl2
-------------------------------------------------- */
.ttl-lvl2 {
    padding-top: 0;
    padding-bottom: 20px;
    text-align: center;
    
    & > [class*="hdg-"] {
        font-weight:700;
    }
}

@media (min-width: $bp-md) {
    .ttl-lvl2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

/* ttl-lvl3
-------------------------------------------------- */


/* ttl-lvl4
-------------------------------------------------- */



/* -----------------------------------------------
/* Headings  [hdg-***]
-------------------------------------------------- */
// .hdg-0 {font-size: 4.0rem;}
// .hdg-1 {font-size: 3.5rem;}
.hdg-2 {font-size: 4.0rem;}
.hdg-3 {font-size: 2.0rem;}
.hdg-4 {font-size: 1.6rem;}

@media (min-width: $bp-md) {
    // .hdg-0 {font-size: 4.5rem;}
    // .hdg-1 {font-size: 4.0rem;}
    .hdg-2 {font-size: 4.5rem;}
    .hdg-3 {font-size: 2.2rem;}
    .hdg-4 {font-size: 1.8rem;}
}

/* -----------------------------------------------
/* markBg  [markBg-***]
-------------------------------------------------- */
.markBg--yellow{
    background-color: $color-s1;
    font-weight: 500;
}
