/*
_base.scss
*******************************************************************************************************************/

/*  color management
-------------------------------------------------- */
/* base */
$color-b1 : #333;
$color-g1 : #f4f4f4;
$color-g2 : #e9e9e9;
$color-g3 : #c8c8c8;  //最後に消す
/* thema */
$color-t1 : #b40015;
/* sub */
$color-s1 : #f9b301;

/*  BlakePoint
// -------------------------------------------------- */
$bp-ss: 23.4375em;   // 375px
$bp-sm: 37.5em;    // 600px
$bp-md: 56.25em;   // 900px
$bp-lg: 68.75em;   // 1100px
$bp-xl: 75em;      // 1200px


/*  html
-------------------------------------------------- */
html{
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

/*  body
-------------------------------------------------- */
body {
    background-color: #fff;
    color: $color-b1;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.75;
    width: 100%;
    font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

@media (min-width: $bp-sm) {  
    body {
        font-size: 1.5rem;
    }
}

body *,
body *::before,
body *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body .is-fix {
    position: fixed;
    width: 100%;
    height: 100%;
}

/* Container Padding
-------------------------------------------------- */
$container-p:15px;


/*  a
-------------------------------------------------- */
a {
    word-break: break-all;
    background-color: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

a:link {
    text-decoration: none;
    color:#111;
}

a:visited {
    text-decoration: none;
    color:#111;
}


a:hover, a:active {
    outline-width: 0;
    text-decoration: none;
    color:#111;
}

a:focus {
    outline-width: 0;
    text-decoration: none;
}

li img, li a, li a img {
    vertical-align: bottom;
}
