/*
_base.scss
*******************************************************************************************************************/
/*  BlakePoint
-------------------------------------------------- */
$bp-ss: 31.25em;   // 500px
$bp-sm: 37.5em;    // 600px
$bp-md: 56.25em;   // 900px
$bp-lg: 68.75em;   // 1100px
$bp-xl: 75em;      // 1200px

//Container Padding
$container-p:15px;

/* -----------------------------------------------
/* Base
-------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
html{
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
    background-color: #fff;
    color: #111111;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8;
    width: 100%;
    font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body.is-fix {
    position: fixed;
    width: 100%;
    height: 100%;
}

/*
@media (min-width: 768px) {
    body {
        font-size: 50%;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: 1.4rem;
    }
    body.is-fix {
        position: static;
    }
}
*/

body *,
body *::before,
body *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body .is-fix {
    position: fixed;
    width: 100%;
    height: 100%;
}

a {
    word-break: break-all;
    background-color: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

a:link {
    text-decoration: none;
    color: #111111;
}

a:visited {
    text-decoration: none;
    color:#111111;
}


a:hover, a:active {
    outline-width: 0;
    text-decoration: none;
    color: #111111;
}

a:focus {
    outline-width: 0;
    text-decoration: none;
}

li img, li a, li a img {
    vertical-align: bottom;
}

/*  font family
-------------------------------------------------- */
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NotoSansJP-Regular.woff2) format("woff2"), url(../fonts/NotoSansJP-Regular.woff) format("woff"), url(../fonts/NotoSansJP-Regular.otf) format("opentype");
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/NotoSansJP-Medium.woff2) format("woff2"), url(../fonts/NotoSansJP-Medium.woff) format("woff"), url(../fonts/NotoSansJP-Medium.otf) format("opentype");
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/NotoSansJP-Bold.woff2) format("woff2"), url(../fonts/NotoSansJP-Bold.woff) format("woff"), url(../fonts/NotoSansJP-Bold.otf) format("opentype");
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/NotoSansJP-Black.woff2) format("woff2"), url(../fonts/NotoSansJP-Black.woff) format("woff"), url(../fonts/NotoSansJP-Black.otf) format("opentype");
}

/* 見出しのみ書体変更 */
.u-ff-oswald, 
.ttl > *::before, 
.ttl-2Lang__side [class*="hdg-"]::before, 
.ttl-2Lang__after [class*="hdg-"]::after {
    font-family: "Oswald",sans-serif;
}

/*  color management
-------------------------------------------------- */
/* base-color */
$color-b1 : #111111;
$color-b2 : #444444;
$color-b3 : #666666;
$color-g1 : #bdbdbd;

/* thema-color */
$color-t1 : #ff550a;
$color-t1_2 : #fd6301;
$color-t1_3 : #ff9c3b;


/*  lightbox
-------------------------------------------------- */
/*a[data-lightbox="lb"] {
    position: relative;
    text-decoration: none !important;
    pointer-events: none;
}

a[data-lightbox="lb"]::after {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'fontAwesome';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-rendering: auto;
    line-height: 1;
    content: "\f002";
    color: #fff;
    text-decoration: none !important;
}

@media (min-width: 768px) {
    a[data-lightbox="lb"] {
        pointer-events: auto;
    }
    a[data-lightbox="lb"]::after {
        display: inline-block;
    }
}
*/