/*
_base.scss
*******************************************************************************************************************/

/*  color management
-------------------------------------------------- */
/* base */
$color-b1 : #333;
$color-g0 : #c4c4c4;
$color-g1 : #f4f4f4;
$color-g2 : #e9e9e9;
/* thema */
$color-t1 : #b40015;

$color-design : #e7181fe1;
$color-programming : #9221d3;
$color-direction : #1982c4;
$color-blog : #55C502;
$color-git : #2B3137;

/*  BlakePoint
// -------------------------------------------------- */
$bp-ss: 23.4375em;   // 375px
$bp-sm: 37.5em;    // 600px
$bp-md: 56.25em;   // 900px
$bp-lg: 68.75em;   // 1100px
$bp-xl: 75em;      // 1200px


/*  html
-------------------------------------------------- */
html{
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

/*  body
-------------------------------------------------- */
body {
    background-color: #FCFCFC;
    color: $color-b1;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.75;
    width: 100%;
    font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

@media (min-width: $bp-sm) {  
    body {
        font-size: 1.4rem;
    }
}

body *,
body *::before,
body *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body .is-fix {
    position: fixed;
    width: 100%;
    height: 100%;
}

/* Container Padding
-------------------------------------------------- */
$container-p:15px;


/*  a
-------------------------------------------------- */
a {
    word-break: break-all;
    background-color: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

a:link {
    text-decoration: none;
    color:$color-b1;
}

a:visited {
    text-decoration: none;
    color:$color-b1;
}


a:hover, a:active {
    outline-width: 0;
    text-decoration: none;
    color:$color-b1;
}

a:focus {
    outline-width: 0;
    text-decoration: none;
}

li img, li a, li a img {
    vertical-align: bottom;
}





/*!
* row (l-containerのpadding相殺)
*/.row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-$container-p;margin-left:-$container-p;}/*!

* col
*/.row>[class*=col-]{position:relative;width:100%;min-height:1px;padding-right:1rem;padding-left:1rem} //col同士は余白ないので、内側のpaddingで余白調整
.col{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}
.col-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}
.col-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
.col-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
.col-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
.col-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
.col-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
.col-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
.col-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
.col-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
.col-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
.col-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
.col-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
.col-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}

@media (min-width: $bp-ss){
    .col-ss{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}
    .col-ss-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}
    .col-ss-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
    .col-ss-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
    .col-ss-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
    .col-ss-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
    .col-ss-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
    .col-ss-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
    .col-ss-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
    .col-ss-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
    .col-ss-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
    .col-ss-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
    .col-ss-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
    .col-ss-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
}
@media (min-width: $bp-sm){
    .col-sm{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}
    .col-sm-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}
    .col-sm-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
    .col-sm-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
    .col-sm-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
    .col-sm-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
    .col-sm-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
    .col-sm-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
    .col-sm-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
    .col-sm-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
    .col-sm-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
    .col-sm-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
    .col-sm-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
    .col-sm-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
}
@media (min-width: $bp-md){
    .col-md{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}
    .col-md-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}
    .col-md-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
    .col-md-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
    .col-md-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
    .col-md-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
    .col-md-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
    .col-md-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
    .col-md-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
    .col-md-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
    .col-md-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
    .col-md-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
    .col-md-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
    .col-md-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
}
@media (min-width: $bp-lg){
    .col-lg{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}
    .col-lg-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}
    .col-lg-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
    .col-lg-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
    .col-lg-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
    .col-lg-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
    .col-lg-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
    .col-lg-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
    .col-lg-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
    .col-lg-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
    .col-lg-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
    .col-lg-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
    .col-lg-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
    .col-lg-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
}
@media (min-width: $bp-xl){
    .col-xl{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}
    .col-xl-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}
    .col-xl-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
    .col-xl-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
    .col-xl-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
    .col-xl-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
    .col-xl-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
    .col-xl-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
    .col-xl-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
    .col-xl-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
    .col-xl-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
    .col-xl-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
    .col-xl-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
    .col-xl-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
}

//text-align
.u-ta-l{text-align:left!important}
.u-ta-c{text-align:center!important}
.u-ta-r{text-align:right!important}
.u-ta-j{text-align:justify!important}
.u-va-sup{vertical-align:super!important}
.u-va-t{vertical-align:top!important}.u-va-tt{vertical-align:text-top!important}.u-va-m{vertical-align:middle!important}.u-va-bl{vertical-align:baseline!important}.u-va-tb{vertical-align:text-bottom!important}.u-va-b{vertical-align:bottom!important}.u-va-sub{vertical-align:sub!important}
@media (min-width: $bp-sm){.ta-sm-l{text-align:left!important}.ta-sm-c{text-align:center!important}.ta-sm-r{text-align:right!important}.ta-sm-j{text-align:justify!important}.va-sm-sup{vertical-align:super!important}.va-sm-t{vertical-align:top!important}.va-sm-tt{vertical-align:text-top!important}.va-sm-m{vertical-align:middle!important}.va-sm-bl{vertical-align:baseline!important}.va-sm-tb{vertical-align:text-bottom!important}.va-sm-b{vertical-align:bottom!important}.va-sm-sub{vertical-align:sub!important}}
@media (min-width: $bp-md){.ta-md-l{text-align:left!important}.ta-md-c{text-align:center!important}.ta-md-r{text-align:right!important}.ta-md-j{text-align:justify!important}.va-md-sup{vertical-align:super!important}.va-md-t{vertical-align:top!important}.va-md-tt{vertical-align:text-top!important}.va-md-m{vertical-align:middle!important}.va-md-bl{vertical-align:baseline!important}.va-md-tb{vertical-align:text-bottom!important}.va-md-b{vertical-align:bottom!important}.va-md-sub{vertical-align:sub!important}}
@media (min-width: $bp-lg){.ta-lg-l{text-align:left!important}.ta-lg-c{text-align:center!important}.ta-lg-r{text-align:right!important}.ta-lg-j{text-align:justify!important}.va-lg-sup{vertical-align:super!important}.va-lg-t{vertical-align:top!important}.va-lg-tt{vertical-align:text-top!important}.va-lg-m{vertical-align:middle!important}.va-lg-bl{vertical-align:baseline!important}.va-lg-tb{vertical-align:text-bottom!important}.va-lg-b{vertical-align:bottom!important}.va-lg-sub{vertical-align:sub!important}}
@media (min-width: $bp-xl){.ta-xl-l{text-align:left!important}.ta-xl-c{text-align:center!important}.ta-xl-r{text-align:right!important}.ta-xl-j{text-align:justify!important}.va-xl-sup{vertical-align:super!important}.va-xl-t{vertical-align:top!important}.va-xl-tt{vertical-align:text-top!important}.va-xl-m{vertical-align:middle!important}.va-xl-bl{vertical-align:baseline!important}.va-xl-tb{vertical-align:text-bottom!important}.va-xl-b{vertical-align:bottom!important}.va-xl-sub{vertical-align:sub!important}}
