/*
_footer.scss
*******************************************************************************************************************/

/* gototop
-------------------------------------------------- */
.pagetop{
    color: #333;
    background-color: #fff;
    border-top: 1px solid rgba(184, 180, 180, 0.6);
    
    & > a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        padding: 15px;
        font-size: 1.6rem;
        text-align: center;
        -webkit-transition: all .3s;
        transition: all .3s;
        
        &:hover {
            color: #fff;
            background-color: rgb(7, 167, 7);
        }
    }
}