/*
_header.scss
*******************************************************************************************************************/

/* l-header
-------------------------------------------------- */
.l-header{
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.50);
    box-shadow: 0 0 15px rgba(0,0,0,0.50);
    
    .header__content{
        height: 100%;
        margin: 0 auto;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: $bp-md){
    .l-header{
        height: 65px;
    }
}


/* hamburger
-------------------------------------------------- */
.hamburger{
    z-index: 200;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 8px;
    right: 5px;
    width: 50px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    font-size: 2.4rem;
    text-decoration: none;
    border-radius: 5px;
    @include fxrow-ac-jc;
    @include transition(0.3s);
}

.mark{
    margin-top: 3px;
}

.markMenu{
    width: 100%;
    height: 20px;
    position: relative;
    
    &__middle,
    &__top,
    &__bottom {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -12px;
        width: 24px;
        height: 3px;
        border-radius: 10px;
        background-color: $color-b1;
        -webkit-transition-duration: .1s;
        transition-duration: .1s;
    }
}

.markMenu__top{margin-top: -9px;}
.markMenu__middle{margin-top: -2px;}
.markMenu__bottom{margin-top: 5px;}

.mark.is-active {
    .markMenu__top {
        -webkit-transform: rotate(45deg) translate(5px, 5px);
        transform: rotate(45deg) translate(5px, 5px);
    }
    .markMenu__middle {
        -webkit-transition: opacity .25s;
        transition: opacity .25s;
        opacity: 0;
    }
    .markMenu__bottom {
        -webkit-transform: rotate(-45deg) translate(5px, -5px);
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

@media (min-width: $bp-md){
    .hamburger{display: none;}
}


/* globalNav
-------------------------------------------------- */
.globalNav{
    width: 100%;
}

.l-nav {
    visibility: hidden;
    position: fixed;
    top: 60px; // sp:l-headerのheight分下降
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

body.is-fix .l-nav {
    visibility: visible;
}

@media (min-width: $bp-md){
    .l-nav {
        position: static;
    }
}

/* globalNavSP
-------------------------------------------------- */
.globalNavSP{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    @include fxrow-je;
    
    &__content{
        opacity: 0;
        visibility: hidden;
        z-index: 100;
        min-width: 300px;
        -webkit-perspective: 500px;
        perspective: 500px;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
        -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    &__bg {
        z-index: 90;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
    }
}

body.is-fix {
    & .globalNavSP__content {
        opacity: 1;
        visibility: visible;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    
    & .globalNavSP__bg {
        opacity: 1;
        cursor: pointer;
    }
}

@media (min-width: $bp-md){ 
    .globalNavSP {
        &__bg{
            opacity: 0;
            display: none;
        }
    }
    
    body.is-fix 
    .globalNavSP__bg {
        opacity: 0;
        display: none;    
    }
}


.gNavSP {
    width: 100%;
    height: 100%;
    background-color: #fff;    
}

.gNavSpMain{
    &__itm {
        position: relative;
        border-top: 1px solid #e5e6e6;
        &:last-child{border-bottom: 1px solid #e5e6e6;}
    }
    
    &__lnk
    {
        @include fxrow-ac;
        height: 45px;
        padding-left: 15px;
        color: $color-b1 !important;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 1px;
    }
}

@media (min-width: $bp-md){
    .gNavSP {
        opacity: 0;
        visibility: hidden;
    }
}


/* globalNavPC
-------------------------------------------------- */
.globalNavPC{
    opacity: 0;
    visibility: hidden;
}

@media (min-width: $bp-md){
    
    .globalNavPC {
        opacity: 1;
        visibility: visible;
        height: 100%;
    }
    
    .gNavPcMain{
        position: relative;
        height: 100%;
        @include fxrow-ac-jsb;
        
        &__itm {
            height: 65px;
            @include fxrow-ac-jc;
        }
        
        &__lnk{
            display: block;
            font-size: 1.8rem;
            font-weight: 500;
            
            span{
                padding-left: 6px;
                font-size: 1.2rem;
                font-weight: 900;
                color: $color-b1;
            }
            
            &::after{
                content: "";
                display:block;
                top:0;
                left:0;
                width: 100%;
                height: 3px;
                background-color: $color-b1;
                border-radius: 5px;
                @include transform-scX(0);
                @include transition(.15s);
            }
            
            &:hover::after{
                @include transform-scX(1);
            }
        }
    }
    
}

/* #l-MV
-------------------------------------------------- */
.h-mvWrap{
    padding-top: 110px !important; //l-headerの高さに応じて変更
    padding-bottom: 20px !important; //l-headerの高さに応じて変更
}

.mvBody{
    height: 100%;
    padding: 15px;

    .mvContent{
        height: 100%;
        text-align: center;
        
        &__copyMain{
            padding-bottom: 15px;
            font-size: 3rem;
            font-weight: 600;
            line-height: 1.3;
        }
    }
    
    .mvbtnContainer{
        @include fxrow;
        @include --fxwrap;
        
        div{
            width: 50%;
            padding-top: 10px;
            padding-right: 10px;
        }
        
        div:first-child{
            width: 100%;
        }
    }
    
    .mvdescContainer{
        a{
            color: blue;
            text-decoration: underline; 
        }
    }
}

@media (min-width: $bp-md){
    .h-mvWrap{
        padding-top: 120px !important;
    }
    
    .mvBody{
        
        .mvContent{
            text-align: left;
            
            &__copyMain{
                font-size: 4rem;
                font-weight: 600;
                letter-spacing: 3px;
                line-height: 1.3;
            }
        }
    }
}