/*
_header.scss
*******************************************************************************************************************/

/* l-header
-------------------------------------------------- */
.l-header{
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.50);
    box-shadow: 0 0 15px rgba(0,0,0,0.50);
    
    .header__content{
        height: 100%;
        margin: 0 auto;
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        justify-content: space-between;
    }
}

.l-nav {
    position: fixed;
    top: 60px; // sp:l-headerのheight分下降
    right: 0;
    bottom: 0;
    width: 100%;
}

@media (min-width: $bp-md){
    .l-nav {
        position: static;
    }
}

/* logo */
.logo {
    height: 100%;
    display: flex;
    align-items: center;
    
    & > a > img {
        width: auto; 
        height: 40px;
    }
}

/* globalNav */
.globalNav{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;  
    display: flex;
    justify-content: flex-end;
    
    &__content{
        opacity: 0;
        visibility: hidden;
        z-index: 100;
        max-width: 400px;
        -webkit-perspective: 500px;
        perspective: 500px;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
        -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    &__bg {
        z-index: 90;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
    }
}

body.is-fix {
    & .globalNav__content {
        opacity: 1;
        visibility: visible;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    
    & .globalNav__bg {
        opacity: 1;
        cursor: pointer;
    }
}

@media (min-width: $bp-md){ 
    .globalNav {
        padding-right: 15px;
        padding-left: 15px;
        
        &__content{
            opacity: 1;
            visibility: visible;
            max-width: 100%;
            height: 100%;
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        
        &__bg{
            opacity: 0;
        }
    }
    
    body.is-fix 
    .globalNav__bg {
        opacity: 0;
    }
}


/* gNav */
.gNav {
    width: 100%;
    height: 100%;
    background-color: #fff;
    
    &__sub {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__item--sub {
        width: 50%;
    } 
    
    &__item {
        position: relative;
        border-top: 1px solid #e5e6e6;
    }
    
    &__lnk--main,
    &__lnk--sub
    {
        display: flex;
        align-items: center;
        height: 45px;
        padding-left: 15px;
    }
    
    &__lnk--toggle::before {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        content: "\e61a";
        font-family: 'themify';
        font-size: 1.1rem;
        height: 45px;
        width: 45px;
        background-color: #bdbdbd;
    }
    
    &__lnk--toggle.is-active::before {
        content: "\e622";
        background: #eee;
    }
}

/* sNav */
.sNav {
    background-color: #f5f5f5;
    
    &__item {
        border-top: 1px dashed #bdbdbd;
    }
    
    &__lnk{
        display: flex;
        align-items: center;
        height: 45px;
        padding-left: 15px;
    }
}


@media (min-width: $bp-md){
    .gNav {
        display: flex;
        align-items: flex-end;
        flex-direction: column-reverse;
        height: auto;
        background-color: transparent;
        
        &__main{
            display: flex;
            justify-content: space-between;
            width: 300px;
        }
        
        &__sub{
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 250px;
            margin-top: 5px;
        } 
        
        &__item {
            border-top: none;
        }
        
        &__item--sub {
            width: auto;
        } 
    }
    
    .gNav__lnk--main{
        height: auto;
        padding-left: 0;
        font-size: 1.6rem;
        
    }
    
    .gNav__lnk--sub{
        height: auto;
        padding-left: 0;
        font-size: 1.2rem;
    }
    
    .gNav__lnk--toggle::before{
        display: none;
    }
}


/* l-mark */
.l-mark{
    z-index: 200;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    width: 49px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 5px;
    transition: 0.3s;
}

.mark{
    margin-top: 3px;
}

.markMenu{
    width: 100%;
    height: 2rem;
    position: relative;
    
    &__middle,
    &__top,
    &__bottom {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -12px;
        width: 24px;
        height: 2px;
        background-color: #333;
        -webkit-transition-duration: .1s;
        transition-duration: .1s;
    }
}

.markMenu__top{margin-top: -9px;}
.markMenu__middle{margin-top: -2px;}
.markMenu__bottom{margin-top: 5px;}

.mark.is-active {
    .markMenu__top {
        -webkit-transform: rotate(45deg) translate(5px, 5px);
        transform: rotate(45deg) translate(5px, 5px);
    }
    .markMenu__middle {
        -webkit-transition: opacity .25s;
        transition: opacity .25s;
        opacity: 0;
    }
    .markMenu__bottom {
        -webkit-transform: rotate(-45deg) translate(5px, -5px);
        transform: rotate(-45deg) translate(5px, -5px);
    }
}


@media (min-width: $bp-md){
    .l-mark{display: none; }
}


/* -----------------------------------------------
/* 2-3. mv
-------------------------------------------------- */
/* #l-MV
-------------------------------------------------- */
.h-mvWrap{
    padding-top: 60px !important; //l-headerの高さに応じて変更
    padding-bottom: 0 !important; //l-headerの高さに応じて変更
}

/* SP */
.mvSlide{
    &__itm{
        width: 100%;
        min-height: 400px;
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        &--01{background-image: url(../images/mv--01.jpg);}
        &--02{background-image: url(../images/mv--02.jpg);}
        &--03{background-image: url(../images/mv--03.jpg);}
    }
    
    /* img spase */
    .slick-slide img {
        width: 100%;
    }
    
    /* dots */
    .slick-dots{
        & li button:before{
            font-size: 1.5rem; // size
            opacity: 1; //default 0.25
            color: grey;
        }
        
        & li.slick-active button:before{
            color: #40064E;
        }
    } 
    
    /* prev & next buttons */
    .slick-prev:before,
    .slick-next:before {
        color: white;
        background-color: grey;
    }
}

/* TABLET & PC */
@media (min-width: $bp-sm){
    .mvSlide{
        &__itm{
            width: 100%;
            min-height: 550px;
            height: 75vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            
            &--01{background-image: url(../images/mv--01.jpg);}
            &--02{background-image: url(../images/mv--02.jpg);}
            &--03{background-image: url(../images/mv--03.jpg);}
        }
    }
}

