/*
_layout.scss
*******************************************************************************************************************/

/*  .l-wrapper
-------------------------------------------------- */
.l-wrapper {
    position: relative;
    overflow: hidden;
}

/*  ***Wrap
-------------------------------------------------- */
[class*="Wrap"] {padding: 20px 0;}

@media (min-width: $bp-md) {[class*="Wrap"] {padding: 20px 0;}}
@media (min-width: $bp-lg) {[class*="Wrap"] {padding: 20px 0;}}

/*  .l-container
-------------------------------------------------- */
.l-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
    padding-right: $container-p;
    padding-left: $container-p;
    position: relative;
}

.l-container--fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    padding-right: $container-p;
    padding-left: $container-p;
    position: relative;
}



/* -----------------------------------------------
/* topPage     [h-***]
-------------------------------------------------- */
/* #h-WORK-DETAILS
-------------------------------------------------- */
#h-WORK-DETAILS .h-workdetailsWrap{
    .row{
        @include --fxain-start;
    }
}
