/*
_layout.scss
*******************************************************************************************************************/

/*  .l-wrapper
-------------------------------------------------- */
.l-wrapper {
    position: relative;
    overflow: hidden;
}

/*  ***Wrap
-------------------------------------------------- */
[class*="Wrap"] {padding: 30px 0;}

@media (min-width: $bp-md) {[class*="Wrap"] {padding: 45px 0;}}
@media (min-width: $bp-lg) {[class*="Wrap"] {padding: 75px 0;}}

/*  .l-container
-------------------------------------------------- */
.l-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    padding-right: $container-p;
    padding-left: $container-p;
    position: relative;
}

.l-container--fluid {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    position: relative;
}



/* -----------------------------------------------
/* topPage     [h-***]
-------------------------------------------------- */



/* #h-CONSEPT
-------------------------------------------------- */
#h-CONSEPT .h-conseptWrap{
    background-color: rgb(64, 6, 78); 
    color: #fff;
}

/* #h-ABOUT
-------------------------------------------------- */
#h-ABOUT .h-aboutWrap{
    background-color: rgb(64, 6, 78); 
    color: #fff;
}

/* #h-VOICE
-------------------------------------------------- */
#h-VOICE .h-voiceWrap{
    background-color: rgb(64, 6, 78); 
    color: #fff;
}



